# 데이터 전처리

## 데이터 로드
크롤링을 통해 수집한 챌린지 리그, 베스트 리그 소설 데이터

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
b_data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/BN_final.xlsx')  # best novel
b_data.head(3)

,이름,장르,총합 별점,관심수,작품리뷰수,1화,1화 별점수,2화,2화 별점수,3화,...,2화 조회수,2화 올린 날짜,1화 별점,1화 조회수,1화 올린 날짜,1화 댓글,2화 댓글,3화 댓글,4화 댓글,5화 댓글
0,임신 계략,로맨스,9.98,"2,179",4,1화_x000D_\n_x000D_\n가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니...,166,2화_x000D_\n_x000D_\n“블랙박스 영상은 잘 처리하셨죠?”_x000D_...,156,3화_x000D_\n_x000D_\n가은은 지도준의 손길에 이끌려 어쩔 수 없이 그...,...,3만,2022.12.30,9.95,3만,2022.12.29,"['불쌍하다고 말한 그 순간부터 업보 시작이쥬 ,,, 둘의 관계은 뭔지, 무슨 일이...",['아니… 가은아 연기는 아닌가봐… 너무 어설퍼서 다보옄ㅋㅋㅠㅠ 똑똑한 남자인걸 알...,['아 짜릿ㅎㅎㅎ 역시 집착 왕창 스푼으로 넣어줘야죠! 거기에 도망가는 여주… 아무...,"['안녕하세요, 엄신주 작가님. 로맨스 웹소설 출판사 스노우미디어입니다. 작가님께 ...","['설정이 너무 약해요…기억상실이면 이렇게 못할텐데…', '아슬아슬~~ 뭔가 어설픔..."
1,제국의 하인,로맨스,9.99,"2,135",18,1. 나쁜X_x000D_\n_x000D_\n_x000D_\n* * *_x000D_\...,225,2. 악연의 시작_x000D_\n_x000D_\n_x000D_\n* * *_x000...,181,3. 가스라이팅_x000D_\n_x000D_\n_x000D_\n* * *_x000D...,...,2만,2023.02.05,10.00,3만,2023.02.05,['라인에 이어 ~\n법 스토리 너무 좋아요 ~\n쭉 ~ 열심히 따라 다니겠습니다 ...,['현백합.. 이름부터 뭔가 불안한데요.. 마지막에는 임신이라니..\n회장님도 그렇...,"['댑악...이번 소설은 더 재미있는 것 같은데요??', '와 현백합... 벌써부터...","['도와줘', '잘 읽고 갑니다 ~', '그 엄마에 그 딸이네요 정말... 제국이가...","['잘 타이르네', '제니가 혼이 나서 좀 사이다인데 하인이 말처럼 나중에 제니가 ..."
2,"첫사랑, 첫이별, 첫아이",로맨스,9.99,"1,549",10,파르르 입술이 떨려왔다._x000D_\n_x000D_\n_x000D_\n내 호흡소리...,211,그는 대답대신 침대에서 일어나 담배에 불을 붙이더니 창가로 갔다._x000D_\n_...,172,임신진단키트의 선명한 빨간 두 줄이 생리의 붉은 출혈 마냥 선명하게 내 두 눈에 들...,...,2만,2023.01.20,9.86,2만,2023.01.15,"['작가분 경험담인줄', '정주행 시작합니다~^^', '초반 시작이 너무 서정적.....",['어떤약속도 없이 미국으로 떠난다면서 그걸 첫관계이후에 말해? 양심은 밥말아먹었나...,"['아 이런 쓰레귀가…', '이기적 남자....', '참으로 무책임한 남자일세.',...","['미안함과 죄책감\nG R 를해라 G R 를\n남주 따로 있는거죠?', '완전 미...",['평범한 소설이지만 계속보게되네요.결론도 다른소설처럼 되나요?같은부류 흙수저끼리결...

In [8]:
b_data = b_data.set_index(keys='이름')
b_data[['1화 조회수', '2화 조회수', '3화 조회수', '4화 조회수', '5화 조회수']]  # 조회수 컬럼 구성 확인

                               1화 조회수 2화 조회수 3화 조회수 4화 조회수 5화 조회수
이름
임신 계략                              3만     3만     2만     2만     2만
제국의 하인                             3만     2만     2만     2만     2만
첫사랑, 첫이별, 첫아이                      2만     2만     1만     1만     1만
못난이 아내                             1만     1만     1만  9,726  9,272
남편의 체온                             3만     2만     2만     2만     1만
...                               ...    ...    ...    ...    ...
뱀들의 왕인데 몸이 인간입니다.                 172    155    104     86     72
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다  4,948  4,096  3,426  3,056  2,804
최약용사                              266    129     97     67     17
성검학원의 듀라한                          33     12     14      7      8
너와 내가 알지만, 나와 너는 모를 이야기           105     60     38     29     26

[140 rows x 5 columns]

In [49]:
c_data = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/CN_final.xlsx')  # challenge novel
c_data.head(3)

,이름,장르,총합 별점,관심수,작품리뷰수,1화,1화 별점수,2화,2화 별점수,3화,...,2화 올린 날짜,1화 별점,1화 조회수,1화 올린 날짜,1화 댓글,2화 댓글,3화 댓글,4화 댓글,5화 댓글,Unnamed: 35
0,"나의 친구, 다정한 완벽주의자",로맨스,10.00,344,7,"문제의 며칠 전, 여느 때처럼 나희는 하진과 함께 그의 집 거실에 있었다._x000...",35,하진은 긴 손가락 사이로 펜을 돌리며 무표정하게 빔프로젝터가 비추는 곳을 주시했다....,32,"""내가 날짜를 잘못 골랐나 봐. 다음 스케줄도 있는 줄 알았으면 다른 날 올걸.""_...",...,2023.02.01,10.0,"4,837",2023.02.01,"응원합니다!^^\n\n장난 아니라잖아, 나희야. 왜 장난이래. 그럴 거면 나 줘!!...",나가서 얘기하자.. 드르륵 탁..나가서 얘기하자.. 드르륵 탁..나가서 얘기하자.....,이번화 명대사 : 그 스케쥴이 너야\n너야. 너라고.\n나라고? 감사합니다(꾸벅)\...,이마 손바닥으로 막아주는 거 유죄\n\n아먼가 어차피 또 헤어질빠에 안사귀는게 낫겟...,흐믓한 표정으로 가다가 갑자기 굳어버린 내 표정.\n작가님 나와 봐요.\n문 왜 닫...,NaN
1,눈빛만으로,로맨스,9.99,106,0,_x000D_\n _x000D_\n _x000D_\n _x000D_...,14,_x000D_\n_x000D_\n_x000D_\n_x000D_\n ...,12,_x000D_\n_x000D_\n_x000D_\n_x000D_\n ...,...,2023.03.04,10.0,356,2023.03.03,다음화가 기다려지네요 ~~\n\n헉 남자주인공 이름이 >이설< 너무 이쁜거 아닌가요...,부왕과 모후의 사랑이 애틋했지만 언제나 벼랑끝처럼 위태로웠네요ㅠㅠ 이설의 어깨를 무...,아니 요런 저승사자같은 여주의 등장?? 희율이 ㅋㅋㅋㅋㅋㅠ거세라니ㅠㅠ 정의구현 엄청...,NaN,NaN,NaN
2,내 공식적인 아내가 되어줘,로맨스,10.00,118,0,1화 투자자의 비서_x000D_\n_x000D_\n_x000D_\n그는 기품 있고 ...,11,"2화 스물셋, 스물아홉_x000D_\n_x000D_\n_x000D_\n한 때 저 넓...",6,3화 재회_x000D_\n_x000D_\n_x000D_\n이렇게 둘이 이른 저녁을 ...,...,2023.03.19,10.0,"1,302",2023.03.18,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
c_data = c_data.set_index(keys='이름')

## 데이터 확인

In [9]:
b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   장르        140 non-null    object
 1   총합 별점     140 non-null    float64
 2   관심수       140 non-null    object
 3   작품리뷰수     140 non-null    int64
 4   1화        140 non-null    object
 5   1화 별점수    140 non-null    int64
 6   2화        140 non-null    object
 7   2화 별점수    140 non-null    int64
 8   3화        140 non-null    object
 9   3화 별점수    140 non-null    int64
 10  4화        140 non-null    object
 11  4화 별점수    140 non-null    int64
 12  5화        140 non-null    object
 13  5화 별점수    140 non-null    int64
 14  5화 별점     140 non-null    float64
 15  5화 조회수    140 non-null    object
 16  5화 올린 날짜  140 non-null    object
 17  4화 별점     140 non-null    float64
 18  4화 조회수    140 non-null    object
 19  4화 올린 날짜  140 non-null    object
 20  3화 별점     140 non-null    float64
 21  3화 조회수    140 non-null    object
 22  3화 올린 날짜  140 non-null    object
 23  2화 별점     140 non-null    float64
 24  2화 조회수    140 non-null    object
 25  2화 올린 날짜  140 non-null    object
 26  1화 별점     140 non-null    float64
 27  1화 조회수    140 non-null    object
 28  1화 올린 날짜  140 non-null    object
 29  1화 댓글     100 non-null    object
 30  2화 댓글     88 non-null     object
 31  3화 댓글     77 non-null     object
 32  4화 댓글     83 non-null     object
 33  5화 댓글     76 non-null     object
dtypes: float64(6), int64(6), object(22)
memory usage: 38.3+ KB

In [10]:
b_data.columns

Index(['장르', '총합 별점', '관심수', '작품리뷰수', '1화', '1화 별점수', '2화', '2화 별점수', '3화',
       '3화 별점수', '4화', '4화 별점수', '5화', '5화 별점수', '5화 별점', '5화 조회수', '5화 올린 날짜',
       '4화 별점', '4화 조회수', '4화 올린 날짜', '3화 별점', '3화 조회수', '3화 올린 날짜', '2화 별점',
       '2화 조회수', '2화 올린 날짜', '1화 별점', '1화 조회수', '1화 올린 날짜', '1화 댓글', '2화 댓글',
       '3화 댓글', '4화 댓글', '5화 댓글'],
      dtype='object')

In [11]:
b_data.describe()

,총합 별점,작품리뷰수,1화 별점수,2화 별점수,3화 별점수,4화 별점수,5화 별점수,5화 별점,4화 별점,3화 별점,2화 별점,1화 별점
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.00000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,9.828429,5.657143,63.621429,58.000000,56.971429,55.40000,54.450000,9.504857,9.453929,9.493214,9.559500,9.571857
std,0.881831,13.690711,119.841410,110.316484,116.537822,112.87115,110.040694,1.892022,2.029762,1.866500,1.685613,1.478793
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.930000,0.000000,9.750000,8.000000,7.000000,7.00000,7.000000,9.890000,9.830000,9.825000,9.847500,9.705000
50%,9.990000,2.000000,30.000000,25.500000,25.000000,22.00000,23.000000,10.000000,10.000000,10.000000,10.000000,9.990000
75%,10.000000,6.000000,68.500000,64.000000,62.250000,62.00000,59.750000,10.000000,10.000000,10.000000,10.000000,10.000000
max,10.000000,115.000000,860.000000,820.000000,983.000000,827.00000,840.000000,10.000000,10.000000,10.000000,10.000000,10.000000

In [12]:
b_data['장르'].value_counts()  # 장르 비율 맞춰서 크롤링

로맨스      20
로판       20
판타지      20
현판       20
무협       20
미스터리     20
라이트노벨    20
Name: 장르, dtype: int64

In [13]:
b_data['1화 조회수'].value_counts()

2만       13
1만       12
3만        5
1,570     2
172       2
         ..
2,896     1
7,179     1
488       1
479       1
105       1
Name: 1화 조회수, Length: 109, dtype: int64

## 데이터 전처리

###  1~5화 조회수

#### best novel

In [14]:
## 조회수 전처리 함수
def preprocess_views(data, columns):
  for i in range(len(data)):
    for c in columns:
      data.iloc[i, c] = data.iloc[i, c].replace(',', '')  # , 제거
      if '만' in data.iloc[i, c]:
        data.iloc[i, c] = int(data.iloc[i, c][:-1]) * 10000  # 만 제거 및 int형 변환
  data = data.astype({'1화 조회수' : 'int64', '2화 조회수' : 'int64', '3화 조회수' : 'int64', '4화 조회수' : 'int64', '5화 조회수' : 'int64'})
  return data

In [18]:
b_data = preprocess_views(b_data, [15, 18, 21, 24, 27])

In [19]:
b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 34 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   장르        140 non-null    object
 1   총합 별점     140 non-null    float64
 2   관심수       140 non-null    object
 3   작품리뷰수     140 non-null    int64
 4   1화        140 non-null    object
 5   1화 별점수    140 non-null    int64
 6   2화        140 non-null    object
 7   2화 별점수    140 non-null    int64
 8   3화        140 non-null    object
 9   3화 별점수    140 non-null    int64
 10  4화        140 non-null    object
 11  4화 별점수    140 non-null    int64
 12  5화        140 non-null    object
 13  5화 별점수    140 non-null    int64
 14  5화 별점     140 non-null    float64
 15  5화 조회수    140 non-null    int64
 16  5화 올린 날짜  140 non-null    object
 17  4화 별점     140 non-null    float64
 18  4화 조회수    140 non-null    int64
 19  4화 올린 날짜  140 non-null    object
 20  3화 별점     140 non-null    float64
 21  3화 조회수    140 non-null    int64
 22  3화 올린 날짜  140 non-null    object
 23  2화 별점     140 non-null    float64
 24  2화 조회수    140 non-null    int64
 25  2화 올린 날짜  140 non-null    object
 26  1화 별점     140 non-null    float64
 27  1화 조회수    140 non-null    int64
 28  1화 올린 날짜  140 non-null    object
 29  1화 댓글     100 non-null    object
 30  2화 댓글     88 non-null     object
 31  3화 댓글     77 non-null     object
 32  4화 댓글     83 non-null     object
 33  5화 댓글     76 non-null     object
dtypes: float64(6), int64(11), object(17)
memory usage: 38.3+ KB

In [20]:
b_data.corr()

<ipython-input-20-c4400fae7ae1>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  b_data.corr()

,총합 별점,작품리뷰수,1화 별점수,2화 별점수,3화 별점수,4화 별점수,5화 별점수,5화 별점,5화 조회수,4화 별점,4화 조회수,3화 별점,3화 조회수,2화 별점,2화 조회수,1화 별점,1화 조회수
총합 별점,1.000000,-0.006564,0.024535,0.025539,0.027356,0.026545,0.029591,0.454648,0.016419,0.390778,0.016047,0.438574,0.012574,0.493992,0.013877,0.565723,0.011150
작품리뷰수,-0.006564,1.000000,0.652422,0.618721,0.561542,0.532933,0.514443,0.075815,0.665591,0.077687,0.663116,0.068290,0.696148,0.057818,0.644844,0.042190,0.666660
1화 별점수,0.024535,0.652422,1.000000,0.996736,0.982939,0.967498,0.956671,0.100066,0.970313,0.109399,0.973421,0.099278,0.967183,0.088052,0.961752,0.078677,0.945457
2화 별점수,0.025539,0.618721,0.996736,1.000000,0.991144,0.979367,0.970619,0.100803,0.962986,0.109661,0.965307,0.099141,0.955641,0.088646,0.954356,0.078765,0.933896
3화 별점수,0.027356,0.561542,0.982939,0.991144,1.000000,0.974630,0.967217,0.094806,0.937021,0.102758,0.941387,0.094797,0.925738,0.083510,0.923569,0.075813,0.897015
4화 별점수,0.026545,0.532933,0.967498,0.979367,0.974630,1.000000,0.998143,0.095940,0.948538,0.104343,0.942158,0.094764,0.926549,0.083283,0.943227,0.075323,0.910019
5화 별점수,0.029591,0.514443,0.956671,0.970619,0.967217,0.998143,1.000000,0.098154,0.936883,0.105783,0.928740,0.096689,0.910758,0.085265,0.928995,0.077323,0.894472
5화 별점,0.454648,0.075815,0.100066,0.100803,0.094806,0.095940,0.098154,1.000000,0.082105,0.898262,0.080377,0.583721,0.080016,0.656803,0.078102,0.494402,0.073851
5화 조회수,0.016419,0.665591,0.970313,0.962986,0.937021,0.948538,0.936883,0.082105,1.000000,0.090372,0.996602,0.081041,0.992354,0.071381,0.991608,0.062627,0.986115
4화 별점,0.390778,0.077687,0.109399,0.109661,0.102758,0.104343,0.105783,0.898262,0.090372,1.000000,0.088477,0.716462,0.088335,0.804073,0.086182,0.681043,0.082578
4화 조회수,0.016047,0.663116,0.973421,0.965307,0.941387,0.942158,0.928740,0.080377,0.996602,0.088477,1.000000,0.079075,0.994668,0.070153,0.989289,0.061497,0.987024
3화 별점,0.438574,0.068290,0.099278,0.099141,0.094797,0.094764,0.096689,0.583721,0.081041,0.716462,0.079075,1.000000,0.077727,0.659225,0.074766,0.754563,0.070759
3화 조회수,0.012574,0.696148,0.967183,0.955641,0.925738,0.926549,0.910758,0.080016,0.992354,0.088335,0.994668,0.077727,1.000000,0.068794,0.991250,0.059780,0.986836
2화 별점,0.493992,0.057818,0.088052,0.088646,0.083510,0.083283,0.085265,0.656803,0.071381,0.804073,0.070153,0.659225,0.068794,1.000000,0.065997,0.562689,0.063380
2화 조회수,0.013877,0.644844,0.961752,0.954356,0.923569,0.943227,0.928995,0.078102,0.991608,0.086182,0.989289,0.074766,0.991250,0.065997,1.000000,0.057734,0.986437
1화 별점,0.565723,0.042190,0.078677,0.078765,0.075813,0.075323,0.077323,0.494402,0.062627,0.681043,0.061497,0.754563,0.059780,0.562689,0.057734,1.000000,0.054710
1화 조회수,0.011150,0.666660,0.945457,0.933896,0.897015,0.910019,0.894472,0.073851,0.986115,0.082578,0.987024,0.070759,0.986836,0.063380,0.986437,0.054710,1.000000

#### challenge novel

In [51]:
c_data = preprocess_views(c_data, [15, 18, 21, 24, 27])
c_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 35 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   장르           140 non-null    object
 1   총합 별점        140 non-null    float64
 2   관심수          140 non-null    int64
 3   작품리뷰수        140 non-null    int64
 4   1화           140 non-null    object
 5   1화 별점수       140 non-null    int64
 6   2화           140 non-null    object
 7   2화 별점수       140 non-null    int64
 8   3화           140 non-null    object
 9   3화 별점수       140 non-null    int64
 10  4화           140 non-null    object
 11  4화 별점수       140 non-null    int64
 12  5화           140 non-null    object
 13  5화 별점수       140 non-null    int64
 14  5화 별점        140 non-null    float64
 15  5화 조회수       140 non-null    int64
 16  5화 올린 날짜     140 non-null    object
 17  4화 별점        140 non-null    float64
 18  4화 조회수       140 non-null    int64
 19  4화 올린 날짜     140 non-null    object
 20  3화 별점        140 non-null    float64
 21  3화 조회수       140 non-null    int64
 22  3화 올린 날짜     140 non-null    object
 23  2화 별점        140 non-null    float64
 24  2화 조회수       140 non-null    int64
 25  2화 올린 날짜     140 non-null    object
 26  1화 별점        140 non-null    float64
 27  1화 조회수       140 non-null    int64
 28  1화 올린 날짜     140 non-null    object
 29  1화 댓글        88 non-null     object
 30  2화 댓글        51 non-null     object
 31  3화 댓글        44 non-null     object
 32  4화 댓글        40 non-null     object
 33  5화 댓글        31 non-null     object
 34  Unnamed: 35  14 non-null     object
dtypes: float64(6), int64(12), object(17)
memory usage: 39.4+ KB

### 1~5화 업로드 날짜

#### best novel

In [25]:
# 수치형 변수
num_b_data = b_data[['총합 별점', '1화 별점수', '1화 별점', '1화 조회수', '2화 별점수', '2화 별점', '2화 조회수', 
                   '3화 별점수', '3화 별점', '3화 조회수', '4화 별점수', '4화 별점', '4화 조회수',
                   '5화 별점수', '5화 별점', '5화 조회수']]
num_b_data

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,4화 별점수,4화 별점,4화 조회수,5화 별점수,5화 별점,5화 조회수
이름,,,,,,,,,,,,,,,,
임신 계략,9.98,166,9.95,30000,156,10.00,30000,145,10.00,20000,144,10.00,20000,133,10.00,20000
제국의 하인,9.99,225,10.00,30000,181,9.95,20000,184,9.96,20000,172,9.97,20000,186,9.96,20000
"첫사랑, 첫이별, 첫아이",9.99,211,9.86,20000,172,9.93,20000,155,9.99,10000,145,10.00,10000,133,10.00,10000
못난이 아내,9.98,99,9.92,10000,100,9.94,10000,95,9.93,10000,91,9.96,9726,95,9.94,9272
남편의 체온,9.97,177,9.97,30000,155,10.00,20000,138,9.93,20000,128,10.00,20000,124,10.00,10000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,7.86,5,8.20,172,4,7.75,155,4,7.75,104,6,8.50,86,2,5.50,72
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,8.00,44,8.45,4948,37,8.68,4096,33,8.52,3426,32,8.44,3056,30,8.27,2804
최약용사,10.00,1,10.00,266,0,0.00,129,0,0.00,97,0,0.00,67,0,0.00,17
성검학원의 듀라한,0.00,0,0.00,33,0,0.00,12,0,0.00,14,0,0.00,7,0,0.00,8
"너와 내가 알지만, 나와 너는 모를 이야기",9.91,3,10.00,105,2,10.00,60,2,9.50,38,2,10.00,29,2,10.00,26

In [26]:
date_data = pd.to_datetime(b_data['1화 올린 날짜'])  # datetime type으로 변환
date_data

이름
임신 계략                            2022-12-29
제국의 하인                           2023-02-05
첫사랑, 첫이별, 첫아이                    2023-01-15
못난이 아내                           2023-02-22
남편의 체온                           2023-01-19
                                    ...
뱀들의 왕인데 몸이 인간입니다.                2018-10-10
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다   2017-08-25
최약용사                             2021-02-18
성검학원의 듀라한                        2022-10-12
너와 내가 알지만, 나와 너는 모를 이야기          2023-01-31
Name: 1화 올린 날짜, Length: 140, dtype: datetime64[ns]

In [27]:
for i in range(1, 6):
  col = '%d화 올린 날짜' %i
  if i == 1:
    date_data = pd.to_datetime(b_data[col])
  else:
    tmp = pd.to_datetime(b_data[col])
    date_data = pd.concat([date_data, tmp], axis=1)

date_data

,1화 올린 날짜,2화 올린 날짜,3화 올린 날짜,4화 올린 날짜,5화 올린 날짜
이름,,,,,
임신 계략,2022-12-29,2022-12-30,2022-12-31,2023-01-02,2023-01-04
제국의 하인,2023-02-05,2023-02-05,2023-02-05,2023-02-06,2023-02-06
"첫사랑, 첫이별, 첫아이",2023-01-15,2023-01-20,2023-01-25,2023-01-29,2023-01-31
못난이 아내,2023-02-22,2023-02-24,2023-02-25,2023-02-26,2023-02-27
남편의 체온,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23
...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,2018-10-10,2018-10-11,2018-10-13,2018-10-14,2018-11-10
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,2017-08-25,2017-08-26,2017-09-01,2017-09-05,2017-09-10
최약용사,2021-02-18,2021-03-15,2021-03-15,2021-03-24,2021-08-04
성검학원의 듀라한,2022-10-12,2022-10-12,2022-10-12,2022-10-13,2022-10-13
"너와 내가 알지만, 나와 너는 모를 이야기",2023-01-31,2023-02-05,2023-02-10,2023-02-19,2023-02-22

In [28]:
# 업로드 간격 컬럼 생성 및 초기화

for i in range(1, 5):
  col = '%d-%d화 업로드 간격' %(i, i+1)
  date_data[col] = None  # 초기화

date_data

,1화 올린 날짜,2화 올린 날짜,3화 올린 날짜,4화 올린 날짜,5화 올린 날짜,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,
임신 계략,2022-12-29,2022-12-30,2022-12-31,2023-01-02,2023-01-04,None,None,None,None
제국의 하인,2023-02-05,2023-02-05,2023-02-05,2023-02-06,2023-02-06,None,None,None,None
"첫사랑, 첫이별, 첫아이",2023-01-15,2023-01-20,2023-01-25,2023-01-29,2023-01-31,None,None,None,None
못난이 아내,2023-02-22,2023-02-24,2023-02-25,2023-02-26,2023-02-27,None,None,None,None
남편의 체온,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,None,None,None,None
...,...,...,...,...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,2018-10-10,2018-10-11,2018-10-13,2018-10-14,2018-11-10,None,None,None,None
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,2017-08-25,2017-08-26,2017-09-01,2017-09-05,2017-09-10,None,None,None,None
최약용사,2021-02-18,2021-03-15,2021-03-15,2021-03-24,2021-08-04,None,None,None,None
성검학원의 듀라한,2022-10-12,2022-10-12,2022-10-12,2022-10-13,2022-10-13,None,None,None,None
"너와 내가 알지만, 나와 너는 모를 이야기",2023-01-31,2023-02-05,2023-02-10,2023-02-19,2023-02-22,None,None,None,None

In [29]:
# 업로드 간격 계산
# ex) 1-2화 업로드 간격 = 2화 업로드 날짜 - 1화 업로드 날짜

for i in range(140):
  for j in range(1, 5):
    col = '%d-%d화 업로드 간격' %(j, j+1)
    d1 = '%d화 올린 날짜' %j
    d2 = '%d화 올린 날짜' %(j+1)

    date_data[col][i] = int((date_data[d2][i] - date_data[d1][i]).days)

date_data

<ipython-input-29-6849e8f61d22>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_data[col][i] = int((date_data[d2][i] - date_data[d1][i]).days)

,1화 올린 날짜,2화 올린 날짜,3화 올린 날짜,4화 올린 날짜,5화 올린 날짜,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,
임신 계략,2022-12-29,2022-12-30,2022-12-31,2023-01-02,2023-01-04,1,1,2,2
제국의 하인,2023-02-05,2023-02-05,2023-02-05,2023-02-06,2023-02-06,0,0,1,0
"첫사랑, 첫이별, 첫아이",2023-01-15,2023-01-20,2023-01-25,2023-01-29,2023-01-31,5,5,4,2
못난이 아내,2023-02-22,2023-02-24,2023-02-25,2023-02-26,2023-02-27,2,1,1,1
남편의 체온,2023-01-19,2023-01-20,2023-01-21,2023-01-22,2023-01-23,1,1,1,1
...,...,...,...,...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,2018-10-10,2018-10-11,2018-10-13,2018-10-14,2018-11-10,1,2,1,27
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,2017-08-25,2017-08-26,2017-09-01,2017-09-05,2017-09-10,1,6,4,5
최약용사,2021-02-18,2021-03-15,2021-03-15,2021-03-24,2021-08-04,25,0,9,133
성검학원의 듀라한,2022-10-12,2022-10-12,2022-10-12,2022-10-13,2022-10-13,0,0,1,0
"너와 내가 알지만, 나와 너는 모를 이야기",2023-01-31,2023-02-05,2023-02-10,2023-02-19,2023-02-22,5,5,9,3

In [30]:
date_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1화 올린 날짜     140 non-null    datetime64[ns]
 1   2화 올린 날짜     140 non-null    datetime64[ns]
 2   3화 올린 날짜     140 non-null    datetime64[ns]
 3   4화 올린 날짜     140 non-null    datetime64[ns]
 4   5화 올린 날짜     140 non-null    datetime64[ns]
 5   1-2화 업로드 간격  140 non-null    object
 6   2-3화 업로드 간격  140 non-null    object
 7   3-4화 업로드 간격  140 non-null    object
 8   4-5화 업로드 간격  140 non-null    object
dtypes: datetime64[ns](5), object(4)
memory usage: 15.0+ KB

In [31]:
num_b_data = pd.concat([num_b_data,date_data.iloc[:, 5:9]],axis=1)
num_b_data.head(5)

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,4화 별점수,4화 별점,4화 조회수,5화 별점수,5화 별점,5화 조회수,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,,,,,,,,,,,,
임신 계략,9.98,166,9.95,30000,156,10.00,30000,145,10.00,20000,144,10.00,20000,133,10.00,20000,1,1,2,2
제국의 하인,9.99,225,10.00,30000,181,9.95,20000,184,9.96,20000,172,9.97,20000,186,9.96,20000,0,0,1,0
"첫사랑, 첫이별, 첫아이",9.99,211,9.86,20000,172,9.93,20000,155,9.99,10000,145,10.00,10000,133,10.00,10000,5,5,4,2
못난이 아내,9.98,99,9.92,10000,100,9.94,10000,95,9.93,10000,91,9.96,9726,95,9.94,9272,2,1,1,1
남편의 체온,9.97,177,9.97,30000,155,10.00,20000,138,9.93,20000,128,10.00,20000,124,10.00,10000,1,1,1,1

In [32]:
num_b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   총합 별점        140 non-null    float64
 1   1화 별점수       140 non-null    int64
 2   1화 별점        140 non-null    float64
 3   1화 조회수       140 non-null    int64
 4   2화 별점수       140 non-null    int64
 5   2화 별점        140 non-null    float64
 6   2화 조회수       140 non-null    int64
 7   3화 별점수       140 non-null    int64
 8   3화 별점        140 non-null    float64
 9   3화 조회수       140 non-null    int64
 10  4화 별점수       140 non-null    int64
 11  4화 별점        140 non-null    float64
 12  4화 조회수       140 non-null    int64
 13  5화 별점수       140 non-null    int64
 14  5화 별점        140 non-null    float64
 15  5화 조회수       140 non-null    int64
 16  1-2화 업로드 간격  140 non-null    object
 17  2-3화 업로드 간격  140 non-null    object
 18  3-4화 업로드 간격  140 non-null    object
 19  4-5화 업로드 간격  140 non-null    object
dtypes: float64(6), int64(10), object(4)
memory usage: 27.0+ KB

In [33]:
num_b_data = num_b_data.astype({'1-2화 업로드 간격':'int', '2-3화 업로드 간격':'int', '3-4화 업로드 간격':'int', '4-5화 업로드 간격':'int'})
num_b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   총합 별점        140 non-null    float64
 1   1화 별점수       140 non-null    int64
 2   1화 별점        140 non-null    float64
 3   1화 조회수       140 non-null    int64
 4   2화 별점수       140 non-null    int64
 5   2화 별점        140 non-null    float64
 6   2화 조회수       140 non-null    int64
 7   3화 별점수       140 non-null    int64
 8   3화 별점        140 non-null    float64
 9   3화 조회수       140 non-null    int64
 10  4화 별점수       140 non-null    int64
 11  4화 별점        140 non-null    float64
 12  4화 조회수       140 non-null    int64
 13  5화 별점수       140 non-null    int64
 14  5화 별점        140 non-null    float64
 15  5화 조회수       140 non-null    int64
 16  1-2화 업로드 간격  140 non-null    int64
 17  2-3화 업로드 간격  140 non-null    int64
 18  3-4화 업로드 간격  140 non-null    int64
 19  4-5화 업로드 간격  140 non-null    int64
dtypes: float64(6), int64(14)
memory usage: 27.0+ KB

#### challenge novel

In [52]:
num_c_data = c_data[['총합 별점', '1화 별점수', '1화 별점', '1화 조회수', '2화 별점수', '2화 별점', '2화 조회수', 
                   '3화 별점수', '3화 별점', '3화 조회수', '4화 별점수', '4화 별점', '4화 조회수',
                   '5화 별점수', '5화 별점', '5화 조회수']]
num_c_data

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,4화 별점수,4화 별점,4화 조회수,5화 별점수,5화 별점,5화 조회수
이름,,,,,,,,,,,,,,,,
"나의 친구, 다정한 완벽주의자",10.00,35,10.00,4837,32,10.0,3308,29,10.0,2971,29,10.0,2867,25,10.0,1602
눈빛만으로,9.99,14,10.00,356,12,10.0,378,9,10.0,362,8,10.0,359,8,10.0,341
내 공식적인 아내가 되어줘,10.00,11,10.00,1302,6,10.0,1045,8,10.0,963,8,10.0,812,6,10.0,767
나의 여름은 낭만이었다,10.00,8,10.00,374,13,10.0,392,11,10.0,327,8,10.0,266,11,10.0,260
"5분, 둘 만의 비밀",10.00,14,10.00,1398,19,10.0,1218,17,10.0,1095,16,10.0,967,14,10.0,931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,9.94,8,10.00,773,10,9.1,615,7,10.0,480,5,10.0,418,5,10.0,389
희비록,9.99,7,9.86,171,5,10.0,83,2,10.0,44,3,10.0,39,2,10.0,29
생명과 이름:『호명 / 呼名』,7.71,6,7.00,90,5,6.4,65,5,6.4,31,5,6.4,22,3,7.0,21
강약약강(强弱弱强),10.00,2,10.00,55,2,10.0,18,1,10.0,21,1,10.0,15,1,10.0,16
당신도 용사가 될 수 있습니다! 아마도?,9.97,13,9.31,831,11,10.0,618,11,10.0,451,7,10.0,361,8,10.0,328

In [53]:
for i in range(1, 6):
  col = '%d화 올린 날짜' %i
  if i == 1:
    date_data_c = pd.to_datetime(c_data[col])
  else:
    tmp = pd.to_datetime(c_data[col])
    date_data_c = pd.concat([date_data_c, tmp], axis=1)

date_data_c

                         1화 올린 날짜   2화 올린 날짜   3화 올린 날짜   4화 올린 날짜   5화 올린 날짜
이름
나의 친구, 다정한 완벽주의자       2023-02-01 2023-02-01 2023-02-03 2023-02-06 2023-02-18
눈빛만으로                  2023-03-03 2023-03-04 2023-03-05 2023-03-06 2023-03-07
내 공식적인 아내가 되어줘         2023-03-18 2023-03-19 2023-03-20 2023-03-21 2023-03-22
나의 여름은 낭만이었다           2023-04-11 2023-04-11 2023-04-13 2023-04-14 2023-04-14
5분, 둘 만의 비밀            2023-02-07 2023-02-07 2023-02-08 2023-02-09 2023-02-10
...                           ...        ...        ...        ...        ...
바뀌어버린 세계               2016-07-11 2016-07-11 2016-07-13 2016-07-16 2016-07-17
희비록                    2019-07-29 2019-07-30 2019-08-01 2019-08-01 2019-08-05
생명과 이름:『호명 / 呼名』       2019-02-26 2019-02-26 2019-02-26 2019-02-27 2019-02-28
강약약강(强弱弱强)             2021-09-09 2021-09-09 2021-09-10 2021-09-10 2021-09-11
당신도 용사가 될 수 있습니다! 아마도? 2017-04-20 2017-04-20 2017-04-20 2017-04-20 2017-04-21

[140 rows x 5 columns]

In [54]:
for i in range(1, 5):
  col = '%d-%d화 업로드 간격' %(i, i+1)
  date_data_c[col] = None  # 초기화

date_data_c

,1화 올린 날짜,2화 올린 날짜,3화 올린 날짜,4화 올린 날짜,5화 올린 날짜,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,
"나의 친구, 다정한 완벽주의자",2023-02-01,2023-02-01,2023-02-03,2023-02-06,2023-02-18,None,None,None,None
눈빛만으로,2023-03-03,2023-03-04,2023-03-05,2023-03-06,2023-03-07,None,None,None,None
내 공식적인 아내가 되어줘,2023-03-18,2023-03-19,2023-03-20,2023-03-21,2023-03-22,None,None,None,None
나의 여름은 낭만이었다,2023-04-11,2023-04-11,2023-04-13,2023-04-14,2023-04-14,None,None,None,None
"5분, 둘 만의 비밀",2023-02-07,2023-02-07,2023-02-08,2023-02-09,2023-02-10,None,None,None,None
...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,2016-07-11,2016-07-11,2016-07-13,2016-07-16,2016-07-17,None,None,None,None
희비록,2019-07-29,2019-07-30,2019-08-01,2019-08-01,2019-08-05,None,None,None,None
생명과 이름:『호명 / 呼名』,2019-02-26,2019-02-26,2019-02-26,2019-02-27,2019-02-28,None,None,None,None
강약약강(强弱弱强),2021-09-09,2021-09-09,2021-09-10,2021-09-10,2021-09-11,None,None,None,None
당신도 용사가 될 수 있습니다! 아마도?,2017-04-20,2017-04-20,2017-04-20,2017-04-20,2017-04-21,None,None,None,None

In [55]:
for i in range(140):
  for j in range(1, 5):
    col = '%d-%d화 업로드 간격' %(j, j+1)
    d1 = '%d화 올린 날짜' %j
    d2 = '%d화 올린 날짜' %(j+1)

    date_data_c[col][i] = int((date_data_c[d2][i] - date_data_c[d1][i]).days)

date_data_c

<ipython-input-55-836df39e8c6d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  date_data_c[col][i] = int((date_data_c[d2][i] - date_data_c[d1][i]).days)

,1화 올린 날짜,2화 올린 날짜,3화 올린 날짜,4화 올린 날짜,5화 올린 날짜,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,
"나의 친구, 다정한 완벽주의자",2023-02-01,2023-02-01,2023-02-03,2023-02-06,2023-02-18,0,2,3,12
눈빛만으로,2023-03-03,2023-03-04,2023-03-05,2023-03-06,2023-03-07,1,1,1,1
내 공식적인 아내가 되어줘,2023-03-18,2023-03-19,2023-03-20,2023-03-21,2023-03-22,1,1,1,1
나의 여름은 낭만이었다,2023-04-11,2023-04-11,2023-04-13,2023-04-14,2023-04-14,0,2,1,0
"5분, 둘 만의 비밀",2023-02-07,2023-02-07,2023-02-08,2023-02-09,2023-02-10,0,1,1,1
...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,2016-07-11,2016-07-11,2016-07-13,2016-07-16,2016-07-17,0,2,3,1
희비록,2019-07-29,2019-07-30,2019-08-01,2019-08-01,2019-08-05,1,2,0,4
생명과 이름:『호명 / 呼名』,2019-02-26,2019-02-26,2019-02-26,2019-02-27,2019-02-28,0,0,1,1
강약약강(强弱弱强),2021-09-09,2021-09-09,2021-09-10,2021-09-10,2021-09-11,0,1,0,1
당신도 용사가 될 수 있습니다! 아마도?,2017-04-20,2017-04-20,2017-04-20,2017-04-20,2017-04-21,0,0,0,1

In [56]:
date_data_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   1화 올린 날짜     140 non-null    datetime64[ns]
 1   2화 올린 날짜     140 non-null    datetime64[ns]
 2   3화 올린 날짜     140 non-null    datetime64[ns]
 3   4화 올린 날짜     140 non-null    datetime64[ns]
 4   5화 올린 날짜     140 non-null    datetime64[ns]
 5   1-2화 업로드 간격  140 non-null    object
 6   2-3화 업로드 간격  140 non-null    object
 7   3-4화 업로드 간격  140 non-null    object
 8   4-5화 업로드 간격  140 non-null    object
dtypes: datetime64[ns](5), object(4)
memory usage: 15.0+ KB

In [57]:
num_c_data = pd.concat([num_c_data,date_data_c.iloc[:, 5:9]],axis=1)
num_c_data.head(5)

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,4화 별점수,4화 별점,4화 조회수,5화 별점수,5화 별점,5화 조회수,1-2화 업로드 간격,2-3화 업로드 간격,3-4화 업로드 간격,4-5화 업로드 간격
이름,,,,,,,,,,,,,,,,,,,,
"나의 친구, 다정한 완벽주의자",10.00,35,10.0,4837,32,10.0,3308,29,10.0,2971,29,10.0,2867,25,10.0,1602,0,2,3,12
눈빛만으로,9.99,14,10.0,356,12,10.0,378,9,10.0,362,8,10.0,359,8,10.0,341,1,1,1,1
내 공식적인 아내가 되어줘,10.00,11,10.0,1302,6,10.0,1045,8,10.0,963,8,10.0,812,6,10.0,767,1,1,1,1
나의 여름은 낭만이었다,10.00,8,10.0,374,13,10.0,392,11,10.0,327,8,10.0,266,11,10.0,260,0,2,1,0
"5분, 둘 만의 비밀",10.00,14,10.0,1398,19,10.0,1218,17,10.0,1095,16,10.0,967,14,10.0,931,0,1,1,1

In [58]:
num_c_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   총합 별점        140 non-null    float64
 1   1화 별점수       140 non-null    int64
 2   1화 별점        140 non-null    float64
 3   1화 조회수       140 non-null    int64
 4   2화 별점수       140 non-null    int64
 5   2화 별점        140 non-null    float64
 6   2화 조회수       140 non-null    int64
 7   3화 별점수       140 non-null    int64
 8   3화 별점        140 non-null    float64
 9   3화 조회수       140 non-null    int64
 10  4화 별점수       140 non-null    int64
 11  4화 별점        140 non-null    float64
 12  4화 조회수       140 non-null    int64
 13  5화 별점수       140 non-null    int64
 14  5화 별점        140 non-null    float64
 15  5화 조회수       140 non-null    int64
 16  1-2화 업로드 간격  140 non-null    object
 17  2-3화 업로드 간격  140 non-null    object
 18  3-4화 업로드 간격  140 non-null    object
 19  4-5화 업로드 간격  140 non-null    object
dtypes: float64(6), int64(10), object(4)
memory usage: 27.0+ KB

In [59]:
num_c_data = num_c_data.astype({'1-2화 업로드 간격':'int', '2-3화 업로드 간격':'int', '3-4화 업로드 간격':'int', '4-5화 업로드 간격':'int'})
num_c_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   총합 별점        140 non-null    float64
 1   1화 별점수       140 non-null    int64
 2   1화 별점        140 non-null    float64
 3   1화 조회수       140 non-null    int64
 4   2화 별점수       140 non-null    int64
 5   2화 별점        140 non-null    float64
 6   2화 조회수       140 non-null    int64
 7   3화 별점수       140 non-null    int64
 8   3화 별점        140 non-null    float64
 9   3화 조회수       140 non-null    int64
 10  4화 별점수       140 non-null    int64
 11  4화 별점        140 non-null    float64
 12  4화 조회수       140 non-null    int64
 13  5화 별점수       140 non-null    int64
 14  5화 별점        140 non-null    float64
 15  5화 조회수       140 non-null    int64
 16  1-2화 업로드 간격  140 non-null    int64
 17  2-3화 업로드 간격  140 non-null    int64
 18  3-4화 업로드 간격  140 non-null    int64
 19  4-5화 업로드 간격  140 non-null    int64
dtypes: float64(6), int64(14)
memory usage: 27.0+ KB

### 본문 글자수 정보

#### best novel

In [34]:
sample = b_data.iloc[0, 4]
sample = sample.replace('_x000D_', '')
print(sample)

1화

가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니 서서 바라봤다. 들어가면 안 되는 곳을 들어가야 하는 사람처럼 가은은 깊은숨을 내쉬고 나서야 서재 문을 벌컥 열었다. 술에 취한 것처럼 그녀의 볼이 붉게 물들었다.

갑작스럽게 노크도 없이 들어온 가은의 모습에도 도준은 그녀에게 어떤 시선도 주지 않았다. 도준의 그런 태도에 가은은 누군가가 제 목을 세게 쥔 것처럼 숨이 막혀왔다.

“오늘이 마지막이예요.”

바짝 마른 가은의 입술이 떨렸다.

“그런 건 변호사와 얘기하지.”

도준은 여전히 서류에 시선을 고정한 채 냉랭한 목소리로 그녀를 몰아세웠다. 하지만 오늘만큼은 그녀 역시 조금도 물러설 생각이 없었다. 삼 년 이란 시간 동안 그의 뒷모습만 바라봤다. 결혼식이 끝난 이후 그는 해외지사를 돌면서 집에 들어오는 날보다 들어오지 않는 날이 더 많았다.

“마지막으로 부탁이 있어요.”

가은은 마지막 용기를 내며 입술을 움직였다. 도준은 대답대신 귀찮다는 듯 살짝 고개를 돌려 가은의 얼굴을 바라봤다.

“저랑 자요.”

그녀의 말이 채 끝나기도 전, 도준의 눈썹이 날카롭게 위로 치솟았다.

“술에 취했으면, 방에서 쉬어.”

그녀는 술 한 모금도 마시지 않은 맨 정신이었다. 오히려 지금이 도준과 함께 마주보는 순간 동안 가장 정신이 또렷했다. 다시 도준의 시선이 서류로 가려는 찰나 가은이 천천히 도준의 곁으로 다가왔다. 그리고 이내 의자에 앉아있는 도준의 볼에 가볍게 입술을 맞췄다.

삼 년이란 무미건조한 결혼 생활을 보상이라도 하려는 듯 그녀가 먼저 도준이 정해놓은 선을 넘었다.

가볍게 입술을 맞춘 가은의 눈이 금방이라도 울 것처럼 젖어 들었다. 그녀는 서둘러 서재를 빠져 나가려는 듯 도준을 향해 몸을 휙 돌렸다.


그때, 도준이 그녀의 손목을 세게 잡아 끌었다. 순식간에 가은은 앉아있는 도준의 하체 위에 앉게 되었다.

“선 넘지 말라고 했을 텐데.”

냉철하면서도 매혹적인 목소리가 가은의 심장에 꽂혔다. 하지만 그녀는 더는 그에게 미안하다는 말을 하고 싶지 않았다. 그와 결혼 생활을 하는 내내 입버릇처럼 그에게 뱉었던 말을. 마지막 순간까지 하고 싶지 않았다.

누군가를 짝사랑하는 일이 죄는 아니었으니까.

“이 정도 보상은 있어야죠.”

가은은 더는 도준에게 원하는 것이 없다는 듯 서둘러 몸을 일으켰다. 이번엔 도준이 자리에서 일어서 순식간에 그녀의 입술을 뜨겁게 삼켰다.

“보상을 원하는 거라면, 제대로 해줄게.”

가은은 도준과 입술이 닿자 심장이 금방이라도 펑하고 터질 것만 같았다. 그의 뜨거운 숨이 서서히 그녀의 입안으로 스며들며 심장을 통째로 흔들었다.

도준의 입술이 멀어지자 가은이 거친 숨을 모두 내쉬었다.

“원한다면, 위자료는 몸으로 주지.”

저를 내려다보는 시선에 가은의 몸이 순식간에 그 자리에 얼어붙었다.

“원한다면 줄게. 위자료.”

도준이 순식간에 그녀를 안아 들어 침실로 향했다. 아주 오랫동안 가은이 꿈꾸던 상황이었지만, 심장 한곳에 두꺼운 가시가 박힌 것처럼 통증이 퍼질 뿐이었다.

“조금 더 빨리 말하지 그랬어.”

도준은 원래부터 사랑을 나눴던 사이인 것처럼 너무도 쉽게 가은에게 몸을 붙였다. 이 정도로 겁을 주면 그녀가 도망갈 것이라 생각했기 때문이었다.

하지만, 도준의 예상과 달리 가은이 먼저 도준의 입술에 입술을 맞췄다. 그런 가은의 모습에 도준은 큰 흥미를 느꼈다. 삼 년동안 부부라는 이름으로 함께 살았지만 이토록 큰 흥미를 느낀 것은 오늘이 처음이었다.

도준이 천천히 그녀의 셔츠의 단추를 풀었다.

처음이자 마지막이란 생각이 들자 가은은 도준의 몸을 꽉 안고 쉽게 놓아주지 않았다.
처음으로 그와 한 침대에 누웠다. 그의 어깨가 얼마나 넓은지. 그의 몸에선 어떤 향기가 나는지. 가은은 조금도 잊고 싶지 않다는 듯 그의 몸에 집중했다.

“이런 모습이 있는 줄 몰랐어.”

언제나 소극적인 모습만 보여줬던 가은이기에. 도준은 제 앞에 있는 여자가 제 아내라는 사실을 믿을 수 없었다.

잔뜩 흥분한 도준의 숨소리가 잔잔해지자 뒤늦게 가은이 마른 입술을 천천히 움직였다.

“왜. 저랑 결혼했어요?”

3년 이란 시간 동안 궁금했다. 수많은 기업 자제들 중에서 왜 제일 보잘것 없는 조건의 저를 아내로 선택했는지.
그리고 왜 단 한번도 눈길을 주지 않았는지.

그에게 이 질문을 하는데 삼년이란 시간이 걸렸지만, 답을 듣는데 삼 초도 걸리지 않았다.

“불쌍해서.”

그의 말을 듣는 순간, 가은은 다시 한 번 다짐했다. 다신 지도준이란 남자와 엮이지 않겠다고.

기억을 지울 수만 있다면 지도준이란 남자와 세계그룹을 모두 지어버리고 싶다고. 몇 번이고 다짐했다.

그에게 받은 위자료가 아이가 될 줄은 몰랐다.


***

-똑똑


노크 소리도 제대로 듣지 못한 채 도준은 가득 쌓인 결재 서류를 하나 둘 확인하며 사인했다.

“대표님 들어가도 될까요?”

김비서의 목소리가 들리고 나서야 도준의 시선이 문으로 향했다.

“들어와요.”

잠시 뒤, 한껏 흥분한 듯한 김비서의 목소리가 연이어 이어졌다.

“큰일 났습니다. 대표님.”

김비서의 말에도 도준은 조금의 흔들림도 보이지 않은 채 팔짱을 끼며 김비서의 다음 말을 기다렸다.

“윤가은씨, 아니, 사모님이 어디에 있는지 찾았습니다. 그런데......”

김비서의 입에서 윤가은이란 이름이 나오자 도준은 손에 들고 있던 펜을 바닥에 떨어트렸다.

“지금, 어디에 있습니까?”
“세계 병원에 입원했다고 합니다.”

도준은 애써 이성을 잃지 않으려는 듯 천천히 자리에서 일어났다.

“오후 미팅 모두 밀어주세요.”

어떤 일이 있어도 회사의 일정을 미룬 적이 없던 도준의 말에 김비서가 크게 당황했다. 도준은 김비서의 말도 채 듣지 않은 채 서둘러 대표실을 나왔다. 갑작스럽게 윤가은이 사라진 그날의 기억이 매일 생생하게 떠오르곤 했었다.

이른 새벽, 도준이 다시 눈을 떴을 때 옆에 가은의 모습이 보이지 않았다. 처음으로 먼저 선을 넘은 그녀가 처음으로 허락도 없이 제 곁을 떠났다는 사실을 도준은 믿을 수 없었다.

자리에서 일어선 도준은 거실로 나와 그녀의 이름을 불렀다.

“윤가은.”

신혼 집은 사람이 살지 않는 것처럼 온기가 느껴지지 않았다. 두 사람의 결혼 사진은 창고에 놓여둔 지 오래였다. 도준은 그제야 불길한 예감에 사로잡혔다. 급히, 그녀의 방의 문을 열고 들어섰다. 그곳에도 가은의 모습은 찾을 수가 없었다.

뒤늦게 도준의 눈에 탁상 위에 올려둔 종이가 보였다. 도준은 내용을 확인하지 않아도 그 서류가 이혼서류라는 것을 알았다.

다시 가은의 방문을 닫았을 때, 그는 자신이 결혼 생활 내내 한 번도 먼저 이 방문을 열고 들어선 적이 없다는 사실을 깨달았다.

갑작스럽게 집을 나간 후, 삼 개월이란 시간 동안 연락조차 없던 여자였다. 계약대로 3년이란 시간이 지났으니 어쩌면 당연한 행동일지도 모른다는 생각이 들었지만, 그럼에도 도준은 그녀의 갑작스러운 행동을 조금도 이해할 수 없었다.

세계병원에 도착한 도준은 서둘러 병원 안으로 들어섰다. 윤가은이 입원한 VIP병실 앞에서 한참을 망설이던 도준이 문을 열고 안으로 들어섰다.

머리에 붕대를 하고 누워있는 윤가은의 모습이 보였다.

“어떻게 알고 왔어?”

장모. 이윤숙이 도준의 팔을 잡으며 친한 척 말을 붙여왔다.

“어떻게 된 겁니까?”

도준의 말에 윤숙은 쉽사리 입을 열지 못했다. 그녀는 한참 동안 침묵을 유지하다 천천히 입술을 열었다.

“우리 딸이. 죽을 시도를 했어.”

도준은 지금 자신이 들은 말을 믿을 수 없다는 듯 재차 확인하듯 입을 열었다.

“죽으려고 했다는 겁니까?”

도준은 몇 번이고 윤숙에게 확인을 하고 나서도 그 말을 믿을 수가 없었다. 그때, 두 눈을 꽉 감고 있던 가은의 눈이 천천히 뜨였다.

“의사 불러올게.”

윤숙이 자리를 뜨자 도준이 가은의 손목을 붙잡으며 다급히 물었다.

“당신, 괜찮아?”

가은은 어떤 말도 하지 않고 건조한 눈빛으로 저를 내려다 보는 도준의 얼굴을 빤히 바라볼 뿐이었다.

“목소리가 안 나오는 거야?”

도준의 말을 전혀 알아듣지 못하는 사람처럼 가은은 두 눈을 천천히 깜빡일 뿐이었다. 잠시후, 의사와 윤숙이 함께 병실 안으로 들어왔다. 의사는 가은의 몸 이곳저곳을 살폈다.

“제 목소리가 들리십니까?”

의사의 말에 가은은 대답 대신 고개를 끄덕였다.

“소리 한 번 내보시겠습니까?”
“아.”

가은은 아무일도 아니라는 듯 도준의 앞에서 무겁게 닫고 있던 입을 열었다.

“내가 얼마나 걱정한 줄 아니?”

윤숙이 아까보다 더 과장된 목소리로 가은의 손을 꽉 붙잡았다.

“대체 왜 그런 일을 벌인 거야.”

그때, 가은이 제 손을 잡고 있던 윤숙의 손을 툭 손으로 쳐냈다. 갑작스러운 가은의 행동에 도준과 윤숙의 두 눈이 커졌다.

“누구세요?”

가은은 정말 제 앞에 있는 사람이 누군지 모르겠다는 듯 건조한 눈으로 두 사람을 번갈아 바라봤다.

“머리를 심하게 다쳤나 봐요. 어떡해요.”

윤숙이 호들갑을 떨며, 의사를 보챘다. 의사는 차트를 몇 번이고 확인하며 지금 제 앞에 일을 이해할 수 없다는 듯한 표정을 지었다.

윤숙은 지금 제 앞에 사실을 믿을 수 없다는 듯 급히 전화 통화를 하며 밖으로 나갔다.

“내가 누군지 정말 모르겠어?”

도준이 그녀의 말이 사실인지 확인하려는 듯 바짝 가은에게 얼굴을 붙였다. 그런 도준의 행동이 불쾌하다는 듯 휙, 가은이 옆으로 고개를 돌리며 도준의 몸을 피했다.

그리고 그녀는 도준이 서 있는 반대쪽으로 몸을 틀어 누우며 두 눈을 감았다.

도준은 결혼 생활 내내 한 번도 본 적 없는 가은의 등을 멍하니 바라볼 뿐이었다. 도준은 한참동안 가은의 뒷모습을 바라보다 밖으로 나갔다.

윤숙 역시 오랜시간 그녀의 옆에서 호들갑을 떨다가 전화를 받기 위해 잠시, 자리를 비웠다. 병실에 아무도 없다는 사실을 확인하자 가은의 눈빛이 서늘하게 변했다.

그녀는 베개 밑에 숨겨두었던 핸드폰을 들어 어디론가 전화를 걸었다.

“윤가은입니다.”

그녀의 목소리가 한없이 차가웠다.

In [35]:
# 글자수 계산 함수
def count_blank(data):
  text = data
  split_data = text.split()
  word = len(split_data)  # word = 단어 수, word - 1 = 공백 수

  count = len(text)  # count = 공백 포함 글자수, count - word + 1 = 공백 제거 글자수

  return(word, word - 1, count, count - word + 1)

count_blank(sample)

(1201, 1200, 4913, 3713)

In [36]:
# 본문 데이터 불러오기
content = b_data.iloc[:, [4, 6, 8, 10, 12]]

for i in range(5):
  for j in range(140):
    content.iloc[j, i] = content.iloc[j, i].replace('_x000D_', '')  # 불필요한 토큰 삭제
content

<ipython-input-36-0fbb3dc27cc0>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content.iloc[j, i] = content.iloc[j, i].replace('_x000D_', '')  # 불필요한 토큰 삭제

,1화,2화,3화,4화,5화
이름,,,,,
임신 계략,1화\n\n가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니 서서 바라봤다. 들어가면...,2화\n\n“블랙박스 영상은 잘 처리하셨죠?”\n\n가은의 목소리가 무언가를 숨기는...,3화\n\n가은은 지도준의 손길에 이끌려 어쩔 수 없이 그의 방으로 들어올 수 밖에...,4화 \n\n도준의 문자 하나에 가은의 발이 그대로 현관문 앞에서 얼어붙었다. 가은...,5화\n\n“곧 찾아뵙겠습니다. 장인어른.”\n\n도준은 기철의 변명을 듣고 싶지 ...
제국의 하인,1. 나쁜X\n\n\n* * *\n\n사람들은 하인에게 피도 눈물도 없는 나쁜X라고...,2. 악연의 시작\n\n\n* * *\n\n하인의 아버지는 하인이 엄마 뱃속에서 세...,3. 가스라이팅\n\n\n* * *\n\n현백합의 임신 소식에 해숙은 화들짝 놀랐다...,"4. 매질\n\n\n* * *\n\n14년, 그 사이 많은 것이 변하고 성장했다. ...",5. 제가 하겠습니다\n\n\n* * *\n\n날이면 날마다 매질 해대는 소리를 견...
"첫사랑, 첫이별, 첫아이",파르르 입술이 떨려왔다.\n\n\n내 호흡소리도 거칠어지는 듯 했다.\n\n\n파도...,그는 대답대신 침대에서 일어나 담배에 불을 붙이더니 창가로 갔다.\n\n그리고 창문...,임신진단키트의 선명한 빨간 두 줄이 생리의 붉은 출혈 마냥 선명하게 내 두 눈에 들...,S그룹 회장님의 딸인 그녀가 내 앞에 나타난 것은 내가 동생의 과외를 맡은 지 두 ...,"엄마와 뜬 눈으로 밤을 꼬박 지새우면서, 흐르는 눈물 때문에 몇 마디 대화조차 끊기..."
못난이 아내,"유난히도 개운한 월요일 아침이였다. \n\n\n “으음, 몇시지?”\n...","“아저씨, 좋은 아침입니다.“\n\n\n 동그란 안경에 어깨너머까지 오...",\n\n “오늘은 바닐라 라떼로.“\n\n\n\n\n 그렇지. 인사 받...,\n 나가고 싶지 않던 맞선 자리였다.\n 도현은 이번 선자리 뿐만 아니라 ...,\n\n “너무 갑작스럽네요. 일단...회의록 정리하러 가보겠습니다.”\n...
남편의 체온,"\n#1. 연애다운 연애\n\n\n‘너, 나랑 연애하지 않을래?’\n\n들으면 고백...",#2. 키스 해봤니?\n\n\n저를 데리러 온 지완의 차에 올라탄 세라는 미안해하며...,\n#3. 다음에 만나면…… 안아주세요\n\n\n미처 반응할 새도 없이 제 입술에 ...,#4. 내가 그 사람의 첫사랑이야?\n\n\n어제는 하루 동안 얼굴을 못 봤으니 오...,\n#5. 웃으면 이런 모습\n\n\n서로 다른 직업이다 보니 오늘처럼 두 사람이 ...
...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,태초에 빛의 신과 어둠의 신이 있었다.\n\n두명의 신은 자신들의 힘으로 자신들의 ...,내가 처음으로 정신을 차리게 되었을 때는 정말 어두웠다.\n\n한치앞도 보이지 않았...,"폭포에 도착하자 세이렌은 물에 적당히\n섞여 놀고 있었다.\n\n""세이렌~""\n\n...","마을에 도착했다.\n마을은 돌벽으로 둘러싸여 있었다.\n\n""저희는 교회로 갈 건데...","""뮤엘님! 뮤엘님!""\n\n이반의 다급한 목소리를 듣고 나는 잠에서 깼다.\n눈을 ..."
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,천하를 호령하던 남자가 있었다.\n\n그 남자를 이야기하는 수많은 소문과 달리 주변...,“으악!”\n\n“도련님!”\n\n떨어지면서 그녀가 그의 몸을 잡고 떨어지는 속도를...,몸을 돌려 그녀의 상태를 살폈다.\n\n전투로 인해 그녀의 몸은 멀쩡한 곳이 한군데...,“하암”\n\n만물이 소생하고 싹을 피우는 봄. 새로운 생명이 태어나고 웃음꽃이 피...,세나야 삼촌왔다!”\n\n“삼촌!”\n\n몸을 낮춰 세나를 안아 주었다.\n\n“에...
최약용사,"""여긴 어디지?""\n\n주변에는 아무도 없었고 보이는 것은 낮게 자란 녹색의 풀들 ...","""꿈이 아니었구나""\n\n자신의 방을 둘러 본 소녀는 짧게 한숨을 쉬고는 자리에서...",'내가 나설필요는 없겠군'\n\n멀리서 병사들이 사내들과 싸우는 모습을 지켜보던 누...,소녀가 떨어진 세계에는 몇 명의 용사가 존재 하는데 검의 용사와 창의 용사 그리고 ...,"[왕성]\n\n""정말 그 아이에게 왕자의 가드를 맞길실 겁니까?""\n\n""그렇다""\..."
성검학원의 듀라한,천장 한구석에 걸린 채 외로이 타오르는 비췻빛 등불 하나만을 제외하면 어떠한 광원도...,“그래서 뭐야?”\n\n바닥에 가득한 자주빛 파편들을 조금이라도 보지 않겟다는 듯 ...,탁!\n검푸른 나뭇잎과 회색의 기둥을 한 나무들이 즐비하게 늘어선 깊은 숲속.\n\...,"“저…… 제가 알고 있는 게 맞다면, 샤일록 씨…… 맞으시죠?\n""......""\n...",조심스럽게 거래 물건의 출처를 에둘러 물어보는 것도 아니고 대놓고 요구하는 뻔뻔스러...
"너와 내가 알지만, 나와 너는 모를 이야기",그날의 일에 대한 나의 평가.\n\n\n\n만족했을까?\n\n\n\n이랬으면 어땠을...,자연스레 떠진 눈에 비친 것은 매일같이 바라보던 익숙한 것이었다.\n\n\n\n구석...,어느덧 눈앞에 학교로 올라가는 계단이 보일때쯤 그자리에 멈춰서서 가쁜 숨을 내쉬었다...,이윽고 발소리가 내 앞에서 멈췄다. 무엇을 하지는 모르지만 한참을 가만히 있던 그는...,"자리에 앉자 다시금 꿈에서 봤던 일들이 떠올랐다. 다시는 떠올리기 싫은, 충격적인 ..."

In [37]:
for i in range(1, 6):
  for c in ['단어 수', '공백 수', '공백 포함 글자수', '공백 제거 글자수']:
    col = '%d화 %s' %(i, c)
    content[col] = 0

content

<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0
<ipython-input-37-14b67e94f5d9>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content[col] = 0

,1화,2화,3화,4화,5화,1화 단어 수,1화 공백 수,1화 공백 포함 글자수,1화 공백 제거 글자수,2화 단어 수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
이름,,,,,,,,,,,,,,,,,,,,,
임신 계략,1화\n\n가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니 서서 바라봤다. 들어가면...,2화\n\n“블랙박스 영상은 잘 처리하셨죠?”\n\n가은의 목소리가 무언가를 숨기는...,3화\n\n가은은 지도준의 손길에 이끌려 어쩔 수 없이 그의 방으로 들어올 수 밖에...,4화 \n\n도준의 문자 하나에 가은의 발이 그대로 현관문 앞에서 얼어붙었다. 가은...,5화\n\n“곧 찾아뵙겠습니다. 장인어른.”\n\n도준은 기철의 변명을 듣고 싶지 ...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
제국의 하인,1. 나쁜X\n\n\n* * *\n\n사람들은 하인에게 피도 눈물도 없는 나쁜X라고...,2. 악연의 시작\n\n\n* * *\n\n하인의 아버지는 하인이 엄마 뱃속에서 세...,3. 가스라이팅\n\n\n* * *\n\n현백합의 임신 소식에 해숙은 화들짝 놀랐다...,"4. 매질\n\n\n* * *\n\n14년, 그 사이 많은 것이 변하고 성장했다. ...",5. 제가 하겠습니다\n\n\n* * *\n\n날이면 날마다 매질 해대는 소리를 견...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"첫사랑, 첫이별, 첫아이",파르르 입술이 떨려왔다.\n\n\n내 호흡소리도 거칠어지는 듯 했다.\n\n\n파도...,그는 대답대신 침대에서 일어나 담배에 불을 붙이더니 창가로 갔다.\n\n그리고 창문...,임신진단키트의 선명한 빨간 두 줄이 생리의 붉은 출혈 마냥 선명하게 내 두 눈에 들...,S그룹 회장님의 딸인 그녀가 내 앞에 나타난 것은 내가 동생의 과외를 맡은 지 두 ...,"엄마와 뜬 눈으로 밤을 꼬박 지새우면서, 흐르는 눈물 때문에 몇 마디 대화조차 끊기...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
못난이 아내,"유난히도 개운한 월요일 아침이였다. \n\n\n “으음, 몇시지?”\n...","“아저씨, 좋은 아침입니다.“\n\n\n 동그란 안경에 어깨너머까지 오...",\n\n “오늘은 바닐라 라떼로.“\n\n\n\n\n 그렇지. 인사 받...,\n 나가고 싶지 않던 맞선 자리였다.\n 도현은 이번 선자리 뿐만 아니라 ...,\n\n “너무 갑작스럽네요. 일단...회의록 정리하러 가보겠습니다.”\n...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
남편의 체온,"\n#1. 연애다운 연애\n\n\n‘너, 나랑 연애하지 않을래?’\n\n들으면 고백...",#2. 키스 해봤니?\n\n\n저를 데리러 온 지완의 차에 올라탄 세라는 미안해하며...,\n#3. 다음에 만나면…… 안아주세요\n\n\n미처 반응할 새도 없이 제 입술에 ...,#4. 내가 그 사람의 첫사랑이야?\n\n\n어제는 하루 동안 얼굴을 못 봤으니 오...,\n#5. 웃으면 이런 모습\n\n\n서로 다른 직업이다 보니 오늘처럼 두 사람이 ...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,태초에 빛의 신과 어둠의 신이 있었다.\n\n두명의 신은 자신들의 힘으로 자신들의 ...,내가 처음으로 정신을 차리게 되었을 때는 정말 어두웠다.\n\n한치앞도 보이지 않았...,"폭포에 도착하자 세이렌은 물에 적당히\n섞여 놀고 있었다.\n\n""세이렌~""\n\n...","마을에 도착했다.\n마을은 돌벽으로 둘러싸여 있었다.\n\n""저희는 교회로 갈 건데...","""뮤엘님! 뮤엘님!""\n\n이반의 다급한 목소리를 듣고 나는 잠에서 깼다.\n눈을 ...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,천하를 호령하던 남자가 있었다.\n\n그 남자를 이야기하는 수많은 소문과 달리 주변...,“으악!”\n\n“도련님!”\n\n떨어지면서 그녀가 그의 몸을 잡고 떨어지는 속도를...,몸을 돌려 그녀의 상태를 살폈다.\n\n전투로 인해 그녀의 몸은 멀쩡한 곳이 한군데...,“하암”\n\n만물이 소생하고 싹을 피우는 봄. 새로운 생명이 태어나고 웃음꽃이 피...,세나야 삼촌왔다!”\n\n“삼촌!”\n\n몸을 낮춰 세나를 안아 주었다.\n\n“에...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
최약용사,"""여긴 어디지?""\n\n주변에는 아무도 없었고 보이는 것은 낮게 자란 녹색의 풀들 ...","""꿈이 아니었구나""\n\n자신의 방을 둘러 본 소녀는 짧게 한숨을 쉬고는 자리에서...",'내가 나설필요는 없겠군'\n\n멀리서 병사들이 사내들과 싸우는 모습을 지켜보던 누...,소녀가 떨어진 세계에는 몇 명의 용사가 존재 하는데 검의 용사와 창의 용사 그리고 ...,"[왕성]\n\n""정말 그 아이에게 왕자의 가드를 맞길실 겁니까?""\n\n""그렇다""\...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
성검학원의 듀라한,천장 한구석에 걸린 채 외로이 타오르는 비췻빛 등불 하나만을 제외하면 어떠한 광원도...,“그래서 뭐야?”\n\n바닥에 가득한 자주빛 파편들을 조금이라도 보지 않겟다는 듯 ...,탁!\n검푸른 나뭇잎과 회색의 기둥을 한 나무들이 즐비하게 늘어선 깊은 숲속.\n\...,"“저…… 제가 알고 있는 게 맞다면, 샤일록 씨…… 맞으시죠?\n""......""\n...",조심스럽게 거래 물건의 출처를 에둘러 물어보는 것도 아니고 대놓고 요구하는 뻔뻔스러...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"너와 내가 알지만, 나와 너는 모를 이야기",그날의 일에 대한 나의 평가.\n\n\n\n만족했을까?\n\n\n\n이랬으면 어땠을...,자연스레 떠진 눈에 비친 것은 매일같이 바라보던 익숙한 것이었다.\n\n\n\n구석...,어느덧 눈앞에 학교로 올라가는 계단이 보일때쯤 그자리에 멈춰서서 가쁜 숨을 내쉬었다...,이윽고 발소리가 내 앞에서 멈췄다. 무엇을 하지는 모르지만 한참을 가만히 있던 그는...,"자리에 앉자 다시금 꿈에서 봤던 일들이 떠올랐다. 다시는 떠올리기 싫은, 충격적인 ...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
content.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1화            140 non-null    object
 1   2화            140 non-null    object
 2   3화            140 non-null    object
 3   4화            140 non-null    object
 4   5화            140 non-null    object
 5   1화 단어 수       140 non-null    int64
 6   1화 공백 수       140 non-null    int64
 7   1화 공백 포함 글자수  140 non-null    int64
 8   1화 공백 제거 글자수  140 non-null    int64
 9   2화 단어 수       140 non-null    int64
 10  2화 공백 수       140 non-null    int64
 11  2화 공백 포함 글자수  140 non-null    int64
 12  2화 공백 제거 글자수  140 non-null    int64
 13  3화 단어 수       140 non-null    int64
 14  3화 공백 수       140 non-null    int64
 15  3화 공백 포함 글자수  140 non-null    int64
 16  3화 공백 제거 글자수  140 non-null    int64
 17  4화 단어 수       140 non-null    int64
 18  4화 공백 수       140 non-null    int64
 19  4화 공백 포함 글자수  140 non-null    int64
 20  4화 공백 제거 글자수  140 non-null    int64
 21  5화 단어 수       140 non-null    int64
 22  5화 공백 수       140 non-null    int64
 23  5화 공백 포함 글자수  140 non-null    int64
 24  5화 공백 제거 글자수  140 non-null    int64
dtypes: int64(20), object(5)
memory usage: 32.5+ KB

In [39]:
for i in range(5):
  for j in range(140): 
    word, blank, char_blank, char_no_blank = count_blank(content.iloc[j, i])

    start_num = 5 + i * 4

    content.iloc[j, start_num] = int(word)
    content.iloc[j, start_num+1] = int(blank)
    content.iloc[j, start_num+2] = int(char_blank)
    content.iloc[j, start_num+3] = int(char_no_blank)

content.head(5)

,1화,2화,3화,4화,5화,1화 단어 수,1화 공백 수,1화 공백 포함 글자수,1화 공백 제거 글자수,2화 단어 수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
이름,,,,,,,,,,,,,,,,,,,,,
임신 계략,1화\n\n가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니 서서 바라봤다. 들어가면...,2화\n\n“블랙박스 영상은 잘 처리하셨죠?”\n\n가은의 목소리가 무언가를 숨기는...,3화\n\n가은은 지도준의 손길에 이끌려 어쩔 수 없이 그의 방으로 들어올 수 밖에...,4화 \n\n도준의 문자 하나에 가은의 발이 그대로 현관문 앞에서 얼어붙었다. 가은...,5화\n\n“곧 찾아뵙겠습니다. 장인어른.”\n\n도준은 기철의 변명을 듣고 싶지 ...,1201,1200,4913,3713,1137,...,4737,3589,1151,1150,4818,3668,1096,1095,4711,3616
제국의 하인,1. 나쁜X\n\n\n* * *\n\n사람들은 하인에게 피도 눈물도 없는 나쁜X라고...,2. 악연의 시작\n\n\n* * *\n\n하인의 아버지는 하인이 엄마 뱃속에서 세...,3. 가스라이팅\n\n\n* * *\n\n현백합의 임신 소식에 해숙은 화들짝 놀랐다...,"4. 매질\n\n\n* * *\n\n14년, 그 사이 많은 것이 변하고 성장했다. ...",5. 제가 하겠습니다\n\n\n* * *\n\n날이면 날마다 매질 해대는 소리를 견...,1383,1382,5769,4387,1717,...,6127,4634,1325,1324,5478,4154,1497,1496,6120,4624
"첫사랑, 첫이별, 첫아이",파르르 입술이 떨려왔다.\n\n\n내 호흡소리도 거칠어지는 듯 했다.\n\n\n파도...,그는 대답대신 침대에서 일어나 담배에 불을 붙이더니 창가로 갔다.\n\n그리고 창문...,임신진단키트의 선명한 빨간 두 줄이 생리의 붉은 출혈 마냥 선명하게 내 두 눈에 들...,S그룹 회장님의 딸인 그녀가 내 앞에 나타난 것은 내가 동생의 과외를 맡은 지 두 ...,"엄마와 뜬 눈으로 밤을 꼬박 지새우면서, 흐르는 눈물 때문에 몇 마디 대화조차 끊기...",1172,1171,4885,3714,1228,...,5324,4063,1228,1227,5264,4037,1225,1224,5262,4038
못난이 아내,"유난히도 개운한 월요일 아침이였다. \n\n\n “으음, 몇시지?”\n...","“아저씨, 좋은 아침입니다.“\n\n\n 동그란 안경에 어깨너머까지 오...",\n\n “오늘은 바닐라 라떼로.“\n\n\n\n\n 그렇지. 인사 받...,\n 나가고 싶지 않던 맞선 자리였다.\n 도현은 이번 선자리 뿐만 아니라 ...,\n\n “너무 갑작스럽네요. 일단...회의록 정리하러 가보겠습니다.”\n...,596,595,2800,2205,942,...,2970,2332,1478,1477,6744,5267,961,960,4466,3506
남편의 체온,"\n#1. 연애다운 연애\n\n\n‘너, 나랑 연애하지 않을래?’\n\n들으면 고백...",#2. 키스 해봤니?\n\n\n저를 데리러 온 지완의 차에 올라탄 세라는 미안해하며...,\n#3. 다음에 만나면…… 안아주세요\n\n\n미처 반응할 새도 없이 제 입술에 ...,#4. 내가 그 사람의 첫사랑이야?\n\n\n어제는 하루 동안 얼굴을 못 봤으니 오...,\n#5. 웃으면 이런 모습\n\n\n서로 다른 직업이다 보니 오늘처럼 두 사람이 ...,1716,1715,7170,5455,1561,...,6319,4794,1641,1640,6964,5324,1587,1586,6617,5031

In [40]:
num_b_data = pd.concat([num_b_data, content.iloc[:, 5:]], axis=1)
num_b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   총합 별점         140 non-null    float64
 1   1화 별점수        140 non-null    int64
 2   1화 별점         140 non-null    float64
 3   1화 조회수        140 non-null    int64
 4   2화 별점수        140 non-null    int64
 5   2화 별점         140 non-null    float64
 6   2화 조회수        140 non-null    int64
 7   3화 별점수        140 non-null    int64
 8   3화 별점         140 non-null    float64
 9   3화 조회수        140 non-null    int64
 10  4화 별점수        140 non-null    int64
 11  4화 별점         140 non-null    float64
 12  4화 조회수        140 non-null    int64
 13  5화 별점수        140 non-null    int64
 14  5화 별점         140 non-null    float64
 15  5화 조회수        140 non-null    int64
 16  1-2화 업로드 간격   140 non-null    int64
 17  2-3화 업로드 간격   140 non-null    int64
 18  3-4화 업로드 간격   140 non-null    int64
 19  4-5화 업로드 간격   140 non-null    int64
 20  1화 단어 수       140 non-null    int64
 21  1화 공백 수       140 non-null    int64
 22  1화 공백 포함 글자수  140 non-null    int64
 23  1화 공백 제거 글자수  140 non-null    int64
 24  2화 단어 수       140 non-null    int64
 25  2화 공백 수       140 non-null    int64
 26  2화 공백 포함 글자수  140 non-null    int64
 27  2화 공백 제거 글자수  140 non-null    int64
 28  3화 단어 수       140 non-null    int64
 29  3화 공백 수       140 non-null    int64
 30  3화 공백 포함 글자수  140 non-null    int64
 31  3화 공백 제거 글자수  140 non-null    int64
 32  4화 단어 수       140 non-null    int64
 33  4화 공백 수       140 non-null    int64
 34  4화 공백 포함 글자수  140 non-null    int64
 35  4화 공백 제거 글자수  140 non-null    int64
 36  5화 단어 수       140 non-null    int64
 37  5화 공백 수       140 non-null    int64
 38  5화 공백 포함 글자수  140 non-null    int64
 39  5화 공백 제거 글자수  140 non-null    int64
dtypes: float64(6), int64(34)
memory usage: 48.9+ KB

In [44]:
num_b_data.describe()  # 글자 수 정보의 min 값이 이상치임을 확인

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,...,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,9.828429,63.621429,9.571857,10261.000000,58.000000,9.559500,7172.035714,56.971429,9.493214,6136.592857,...,4987.542857,3827.085714,1141.257143,1140.257143,4912.071429,3771.814286,1127.042857,1126.042857,4876.228571,3750.185714
std,0.881831,119.841410,1.478793,25239.371156,110.316484,1.685613,17147.591212,116.537822,1.866500,14231.396050,...,2301.165339,1756.026952,433.567440,433.567440,1848.497584,1419.399101,432.183695,432.183695,1859.236052,1431.869029
min,0.000000,0.000000,0.000000,33.000000,0.000000,0.000000,12.000000,0.000000,0.000000,14.000000,...,16.000000,15.000000,2.000000,1.000000,16.000000,15.000000,2.000000,1.000000,16.000000,15.000000
25%,9.930000,9.750000,9.705000,730.750000,8.000000,9.847500,522.250000,7.000000,9.825000,456.500000,...,3967.000000,3040.750000,921.250000,920.250000,4173.500000,3209.750000,912.750000,911.750000,3920.000000,3105.000000
50%,9.990000,30.000000,9.990000,3568.000000,25.500000,10.000000,2323.000000,25.000000,10.000000,2184.000000,...,5156.500000,3931.000000,1225.000000,1224.000000,5182.500000,3989.000000,1153.500000,1152.500000,5085.000000,3893.000000
75%,10.000000,68.500000,10.000000,10000.000000,64.000000,10.000000,7241.000000,62.250000,10.000000,6706.250000,...,5634.500000,4348.000000,1345.500000,1344.500000,5741.250000,4429.750000,1353.250000,1352.250000,5803.250000,4440.750000
max,10.000000,860.000000,10.000000,230000.000000,820.000000,10.000000,140000.000000,983.000000,10.000000,120000.000000,...,17995.000000,13741.000000,3555.000000,3554.000000,15176.000000,11622.000000,2831.000000,2830.000000,12073.000000,9243.000000

In [45]:
num_b_data.idxmin()  # 각 수치형 컬럼의 최솟값 확인

총합 별점                             성검학원의 듀라한
1화 별점수                 호랑이들 사이에서 여우가 살아남는 법
1화 별점                  호랑이들 사이에서 여우가 살아남는 법
1화 조회수                            성검학원의 듀라한
2화 별점수                 호랑이들 사이에서 여우가 살아남는 법
2화 별점                  호랑이들 사이에서 여우가 살아남는 법
2화 조회수                            성검학원의 듀라한
3화 별점수                                 돈의흐름
3화 별점                                  돈의흐름
3화 조회수                            성검학원의 듀라한
4화 별점수                 호랑이들 사이에서 여우가 살아남는 법
4화 별점                  호랑이들 사이에서 여우가 살아남는 법
4화 조회수                            성검학원의 듀라한
5화 별점수                               흔한 이야기
5화 별점                                흔한 이야기
5화 조회수                            성검학원의 듀라한
1-2화 업로드 간격                          제국의 하인
2-3화 업로드 간격                          제국의 하인
3-4화 업로드 간격                      질 나쁜 계약 남편
4-5화 업로드 간격                          제국의 하인
1화 단어 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
1화 공백 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
1화 공백 포함 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
1화 공백 제거 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
2화 단어 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
2화 공백 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
2화 공백 포함 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
2화 공백 제거 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
3화 단어 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
3화 공백 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
3화 공백 포함 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
3화 공백 제거 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
4화 단어 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
4화 공백 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
4화 공백 포함 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
4화 공백 제거 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
5화 단어 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
5화 공백 수         그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
5화 공백 포함 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
5화 공백 제거 글자수    그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?
dtype: object

In [46]:
num_b_data.loc[num_b_data['1화 단어 수'].idxmin()]

총합 별점               9.96
1화 별점수             91.00
1화 별점               9.78
1화 조회수          10000.00
2화 별점수             82.00
2화 별점               9.90
2화 조회수          10000.00
3화 별점수             80.00
3화 별점               9.89
3화 조회수           8537.00
4화 별점수             73.00
4화 별점               9.89
4화 조회수           7717.00
5화 별점수             70.00
5화 별점              10.00
5화 조회수           6738.00
1-2화 업로드 간격         0.00
2-3화 업로드 간격         4.00
3-4화 업로드 간격         3.00
4-5화 업로드 간격         4.00
1화 단어 수             2.00
1화 공백 수             1.00
1화 공백 포함 글자수       16.00
1화 공백 제거 글자수       15.00
2화 단어 수             2.00
2화 공백 수             1.00
2화 공백 포함 글자수       16.00
2화 공백 제거 글자수       15.00
3화 단어 수             2.00
3화 공백 수             1.00
3화 공백 포함 글자수       16.00
3화 공백 제거 글자수       15.00
4화 단어 수             2.00
4화 공백 수             1.00
4화 공백 포함 글자수       16.00
4화 공백 제거 글자수       15.00
5화 단어 수             2.00
5화 공백 수             1.00
5화 공백 포함 글자수       16.00
5화 공백 제거 글자수       15.00
Name: 그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?, dtype: float64

In [47]:
num_b_data.drop(['그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?'], axis=0, inplace=True)  # 이상치 제거
num_b_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   총합 별점         139 non-null    float64
 1   1화 별점수        139 non-null    int64
 2   1화 별점         139 non-null    float64
 3   1화 조회수        139 non-null    int64
 4   2화 별점수        139 non-null    int64
 5   2화 별점         139 non-null    float64
 6   2화 조회수        139 non-null    int64
 7   3화 별점수        139 non-null    int64
 8   3화 별점         139 non-null    float64
 9   3화 조회수        139 non-null    int64
 10  4화 별점수        139 non-null    int64
 11  4화 별점         139 non-null    float64
 12  4화 조회수        139 non-null    int64
 13  5화 별점수        139 non-null    int64
 14  5화 별점         139 non-null    float64
 15  5화 조회수        139 non-null    int64
 16  1-2화 업로드 간격   139 non-null    int64
 17  2-3화 업로드 간격   139 non-null    int64
 18  3-4화 업로드 간격   139 non-null    int64
 19  4-5화 업로드 간격   139 non-null    int64
 20  1화 단어 수       139 non-null    int64
 21  1화 공백 수       139 non-null    int64
 22  1화 공백 포함 글자수  139 non-null    int64
 23  1화 공백 제거 글자수  139 non-null    int64
 24  2화 단어 수       139 non-null    int64
 25  2화 공백 수       139 non-null    int64
 26  2화 공백 포함 글자수  139 non-null    int64
 27  2화 공백 제거 글자수  139 non-null    int64
 28  3화 단어 수       139 non-null    int64
 29  3화 공백 수       139 non-null    int64
 30  3화 공백 포함 글자수  139 non-null    int64
 31  3화 공백 제거 글자수  139 non-null    int64
 32  4화 단어 수       139 non-null    int64
 33  4화 공백 수       139 non-null    int64
 34  4화 공백 포함 글자수  139 non-null    int64
 35  4화 공백 제거 글자수  139 non-null    int64
 36  5화 단어 수       139 non-null    int64
 37  5화 공백 수       139 non-null    int64
 38  5화 공백 포함 글자수  139 non-null    int64
 39  5화 공백 제거 글자수  139 non-null    int64
dtypes: float64(6), int64(34)
memory usage: 44.5+ KB

In [48]:
num_b_data.describe()  # min값 정상화

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
count,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,...,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,9.827482,63.424460,9.570360,10262.877698,57.827338,9.557050,7151.690647,56.805755,9.490360,6119.323741,...,5023.309353,3854.510791,1149.453237,1148.453237,4947.294964,3798.841727,1135.136691,1134.136691,4911.194245,3777.057554
std,0.884949,120.252089,1.484035,25330.643272,110.696473,1.691459,17207.912110,116.942751,1.872944,14281.393757,...,2270.097447,1732.025949,424.110975,424.110975,1807.414578,1387.906484,422.963787,422.963787,1819.176625,1401.170876
min,0.000000,0.000000,0.000000,33.000000,0.000000,0.000000,12.000000,0.000000,0.000000,14.000000,...,366.000000,268.000000,130.000000,129.000000,618.000000,477.000000,182.000000,181.000000,687.000000,506.000000
25%,9.930000,9.500000,9.700000,711.500000,8.000000,9.845000,517.500000,7.000000,9.820000,451.000000,...,3975.500000,3054.500000,958.500000,957.500000,4223.000000,3237.500000,936.000000,935.000000,4045.000000,3139.000000
50%,9.990000,29.000000,10.000000,3378.000000,25.000000,10.000000,2288.000000,24.000000,10.000000,2179.000000,...,5172.000000,3948.000000,1226.000000,1225.000000,5185.000000,4017.000000,1154.000000,1153.000000,5086.000000,3909.000000
75%,10.000000,67.500000,10.000000,9952.500000,62.000000,10.000000,7120.000000,61.500000,10.000000,6431.500000,...,5650.000000,4358.000000,1346.000000,1345.000000,5750.500000,4445.500000,1354.500000,1353.500000,5816.500000,4447.500000
max,10.000000,860.000000,10.000000,230000.000000,820.000000,10.000000,140000.000000,983.000000,10.000000,120000.000000,...,17995.000000,13741.000000,3555.000000,3554.000000,15176.000000,11622.000000,2831.000000,2830.000000,12073.000000,9243.000000

#### challenge novel

In [60]:
# 본문 데이터 불러오기
content_c = c_data.iloc[:, [4, 6, 8, 10, 12]]

for i in range(5):
  for j in range(140):
    content_c.iloc[j, i] = content_c.iloc[j, i].replace('_x000D_', '')
    
content_c

<ipython-input-60-d30460d0455c>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c.iloc[j, i] = content_c.iloc[j, i].replace('_x000D_', '')

,1화,2화,3화,4화,5화
이름,,,,,
"나의 친구, 다정한 완벽주의자","문제의 며칠 전, 여느 때처럼 나희는 하진과 함께 그의 집 거실에 있었다.\n\n나...",하진은 긴 손가락 사이로 펜을 돌리며 무표정하게 빔프로젝터가 비추는 곳을 주시했다....,"""내가 날짜를 잘못 골랐나 봐. 다음 스케줄도 있는 줄 알았으면 다른 날 올걸.""\...",만남은 쉽고 이별은 어렵다는 노래 가사가 요즘 부쩍 공감되었다.\n\n지나온 십 대...,온몸이 물에 젖은 것처럼 힘이 없다. 물속에 가라앉은 것처럼 무거운 나희 몸을 누군...
눈빛만으로,\n \n \n \n 1화...,\n\n\n\n 2화. 아미정 뒤채\n\n\n\n\n\...,\n\n\n\n 3화. 저승사자 (1)\n\n\...,\n \n \n \n 4화. 저승사자 (2)...,\n\n\n\n 5화. 재회 (1)\n\n\n\...
내 공식적인 아내가 되어줘,1화 투자자의 비서\n\n\n그는 기품 있고 매력적이라 사람을 당기지만 그렇기에 다...,"2화 스물셋, 스물아홉\n\n\n한 때 저 넓은 어깨에 안기고 싶어서 혼자 두근대고...","3화 재회\n\n\n이렇게 둘이 이른 저녁을 먹고 나서야, 그녀는 홀가분하게 퇴근 ...",4화 속일 게 따로 있지\n\n\n약간의 웨이브진 머리도 잘 소화하는 아름다운 얼굴...,"5화 협상과 유혹\n\n\n슬비가 윤성의 본가를 도망치듯 나왔을 때는, 할머니가 거..."
나의 여름은 낭만이었다,저녁 식사를 마치고 나니 배가 불렀다. 산책을 하다가 좀 쉴까 싶어서 소나무 숲길 ...,언제부터 보고 있었을까. \n\n똑바로 선 보영과 넘어진 설주를 바라보는 재헌이 불...,\n\n아침이 밝았다.\n\n연꽃 가든 숙소 밖은 사람들 소리로 웅성거렸다.\n\n...,속이 부글부글 댔다.\n\n어제 전을 많이 먹었나.\n\n스트레스받아서 허겁지겁 음...,"“내가 어떻게….”\n\n우으읍, 울음을 참던 백진주가 닭똥 같은 눈물을 흘렸다.\..."
"5분, 둘 만의 비밀","프롤로그\n\n\n <위스키 잔에 떨어지는 그의 눈물이 방울, 방울.> \n\n위...",#002. \n\n <귀찮아. 내일 밤에 귀국하는 걸로 해줘. 나 잠수 탈거야...,003-미래. \n\n “장미래씨에게 전 무명이네요”\n\n차 안에서 들으니 더 ...,004 \n\n주섬주섬 몸을 일으킨 남자는 내 이마에 살짝 입맞춤을 했다. 좋았지...,"005-현재. \n\n내 시선이 닿은 곳에 그녀가 있었다. \n\n엄마의 제삿날,..."
...,...,...,...,...,...
바뀌어버린 세계,세상은 지루할 정도로 평화롭다.\n\n그럴지도 모른다.\n\n세상에는 안전밖에 없는...,무언가 소리가 들려온다.\n\n감은 눈에 빛이 느껴진다.\n\n잔잔하고 밝지만 그...,"5년 전즈음, 갑자기 어느 작은 도시에서 갑자기 괴생명체가 나타났다고 소문이 돌기...","나는 행복해했었는데, 행복했었는데, 어느순간 그 행복이 날아가 버렸다. \n\n한 ...","""그래, 네 이야긴 잘 알았어, 그러고보니 '그' 아버지는?""\n\n내가 묻자, 혜..."
희비록,참 많고도 기나긴 커리어를 밟아왔다. 미국 유학가서 한국노래로 드럼 공연을 함으로서...,그날도 나는 마셨다. 꿀꺽꿀꺽 술이 내 목을 타고 흘러들어갔다. 한병 마시고 두병 ...,"며칠 전 일이었다. 글쓰고, 밥먹고, 글읽고, 게임하고를 반복하는 이 지루한 일상에...",내가 ‘동네백수이야기’를 쓰면서 나도 모르게 또 다시 자기자랑을 늘어놓아버렸다. 이...,나의 8살 어린 동생이 자신이 다니는 교회 수련회를 다녀왔다. 그 친구에게 내가 물...
생명과 이름:『호명 / 呼名』,딸까닥 소리를 내며 붉은 빛을 쏘고 길게 이어진 줄을 통해 다른 물체와 연결된 이것...,"\n""흐아앙, 내꺼야!""\n\n\n""나도 가지고 싶단 말이야!""\n\n\n""어머! ...",\n천장의 벽지는 빗물이 세어 들어와 누렇게 변질 되어 있었고 커다란 창문에는 어떻...,전철을 타러 왔을 때처럼 개찰구에서 값을 지불하고 나온 호명사는 한 층 더 지독해진...,\n아직은 어리고 보들거리기만 할 것 같은 손으로 바늘에 실을 꿴 한 학생이 깨끗하...
강약약강(强弱弱强),엄숙한 분위기 속에 아파트 내로 운구차(運柩車)가 들어오고 사람들은 침통함에 눈물을...,"""남긴﻿‥거라니?""\n\n얼토당토없는 찬열의 말에 어리둥절한 소선의 답변, 이젠 판...",범인의 신상파악에 앞서 제일 먼저 해야 할 일은 현장을 답사하는 일이었다. 아파트 ...,얼마 후 뒤늦게 시간을 낸 찬열의 아내 하은이 집을 찾았다. \n\n돌아오지 못할 ...,밤이 다 가도록 영롱한 촛불은 그가 인생의 마지막을 펼치려던 경비실 안에서 타올랐다...
당신도 용사가 될 수 있습니다! 아마도?,"""자 이번엔 무슨 게임을 해야 하나..""\n\n나는 평범한 히키코모리로 사람들을 만...","""자 그럼 일단 이 세계에 대해서 설명하도록 할게!""\n\n자칭 운영자는 그렇게 말...",2화\n\n아무것도 보이지 않고 아무것도 느껴지지 않는 검은 공간.\n\n하지만 소...,"3화\n\n""자 그럼 여기에 있으신 분들은 별로 없지만, 자기소개 해야져!""\n\n...","4화.\n\n""나? 연우.""\n\n연우.\n\n그 이름을 들은 순간 갑자기 어디선가..."

In [61]:
for i in range(1, 6):
  for c in ['단어 수', '공백 수', '공백 포함 글자수', '공백 제거 글자수']:
    col = '%d화 %s' %(i, c)
    content_c[col] = 0

content_c

<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0
<ipython-input-61-94261ab395ad>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  content_c[col] = 0

,1화,2화,3화,4화,5화,1화 단어 수,1화 공백 수,1화 공백 포함 글자수,1화 공백 제거 글자수,2화 단어 수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
이름,,,,,,,,,,,,,,,,,,,,,
"나의 친구, 다정한 완벽주의자","문제의 며칠 전, 여느 때처럼 나희는 하진과 함께 그의 집 거실에 있었다.\n\n나...",하진은 긴 손가락 사이로 펜을 돌리며 무표정하게 빔프로젝터가 비추는 곳을 주시했다....,"""내가 날짜를 잘못 골랐나 봐. 다음 스케줄도 있는 줄 알았으면 다른 날 올걸.""\...",만남은 쉽고 이별은 어렵다는 노래 가사가 요즘 부쩍 공감되었다.\n\n지나온 십 대...,온몸이 물에 젖은 것처럼 힘이 없다. 물속에 가라앉은 것처럼 무거운 나희 몸을 누군...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
눈빛만으로,\n \n \n \n 1화...,\n\n\n\n 2화. 아미정 뒤채\n\n\n\n\n\...,\n\n\n\n 3화. 저승사자 (1)\n\n\...,\n \n \n \n 4화. 저승사자 (2)...,\n\n\n\n 5화. 재회 (1)\n\n\n\...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
내 공식적인 아내가 되어줘,1화 투자자의 비서\n\n\n그는 기품 있고 매력적이라 사람을 당기지만 그렇기에 다...,"2화 스물셋, 스물아홉\n\n\n한 때 저 넓은 어깨에 안기고 싶어서 혼자 두근대고...","3화 재회\n\n\n이렇게 둘이 이른 저녁을 먹고 나서야, 그녀는 홀가분하게 퇴근 ...",4화 속일 게 따로 있지\n\n\n약간의 웨이브진 머리도 잘 소화하는 아름다운 얼굴...,"5화 협상과 유혹\n\n\n슬비가 윤성의 본가를 도망치듯 나왔을 때는, 할머니가 거...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
나의 여름은 낭만이었다,저녁 식사를 마치고 나니 배가 불렀다. 산책을 하다가 좀 쉴까 싶어서 소나무 숲길 ...,언제부터 보고 있었을까. \n\n똑바로 선 보영과 넘어진 설주를 바라보는 재헌이 불...,\n\n아침이 밝았다.\n\n연꽃 가든 숙소 밖은 사람들 소리로 웅성거렸다.\n\n...,속이 부글부글 댔다.\n\n어제 전을 많이 먹었나.\n\n스트레스받아서 허겁지겁 음...,"“내가 어떻게….”\n\n우으읍, 울음을 참던 백진주가 닭똥 같은 눈물을 흘렸다.\...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
"5분, 둘 만의 비밀","프롤로그\n\n\n <위스키 잔에 떨어지는 그의 눈물이 방울, 방울.> \n\n위...",#002. \n\n <귀찮아. 내일 밤에 귀국하는 걸로 해줘. 나 잠수 탈거야...,003-미래. \n\n “장미래씨에게 전 무명이네요”\n\n차 안에서 들으니 더 ...,004 \n\n주섬주섬 몸을 일으킨 남자는 내 이마에 살짝 입맞춤을 했다. 좋았지...,"005-현재. \n\n내 시선이 닿은 곳에 그녀가 있었다. \n\n엄마의 제삿날,...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,세상은 지루할 정도로 평화롭다.\n\n그럴지도 모른다.\n\n세상에는 안전밖에 없는...,무언가 소리가 들려온다.\n\n감은 눈에 빛이 느껴진다.\n\n잔잔하고 밝지만 그...,"5년 전즈음, 갑자기 어느 작은 도시에서 갑자기 괴생명체가 나타났다고 소문이 돌기...","나는 행복해했었는데, 행복했었는데, 어느순간 그 행복이 날아가 버렸다. \n\n한 ...","""그래, 네 이야긴 잘 알았어, 그러고보니 '그' 아버지는?""\n\n내가 묻자, 혜...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
희비록,참 많고도 기나긴 커리어를 밟아왔다. 미국 유학가서 한국노래로 드럼 공연을 함으로서...,그날도 나는 마셨다. 꿀꺽꿀꺽 술이 내 목을 타고 흘러들어갔다. 한병 마시고 두병 ...,"며칠 전 일이었다. 글쓰고, 밥먹고, 글읽고, 게임하고를 반복하는 이 지루한 일상에...",내가 ‘동네백수이야기’를 쓰면서 나도 모르게 또 다시 자기자랑을 늘어놓아버렸다. 이...,나의 8살 어린 동생이 자신이 다니는 교회 수련회를 다녀왔다. 그 친구에게 내가 물...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
생명과 이름:『호명 / 呼名』,딸까닥 소리를 내며 붉은 빛을 쏘고 길게 이어진 줄을 통해 다른 물체와 연결된 이것...,"\n""흐아앙, 내꺼야!""\n\n\n""나도 가지고 싶단 말이야!""\n\n\n""어머! ...",\n천장의 벽지는 빗물이 세어 들어와 누렇게 변질 되어 있었고 커다란 창문에는 어떻...,전철을 타러 왔을 때처럼 개찰구에서 값을 지불하고 나온 호명사는 한 층 더 지독해진...,\n아직은 어리고 보들거리기만 할 것 같은 손으로 바늘에 실을 꿴 한 학생이 깨끗하...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
강약약강(强弱弱强),엄숙한 분위기 속에 아파트 내로 운구차(運柩車)가 들어오고 사람들은 침통함에 눈물을...,"""남긴﻿‥거라니?""\n\n얼토당토없는 찬열의 말에 어리둥절한 소선의 답변, 이젠 판...",범인의 신상파악에 앞서 제일 먼저 해야 할 일은 현장을 답사하는 일이었다. 아파트 ...,얼마 후 뒤늦게 시간을 낸 찬열의 아내 하은이 집을 찾았다. \n\n돌아오지 못할 ...,밤이 다 가도록 영롱한 촛불은 그가 인생의 마지막을 펼치려던 경비실 안에서 타올랐다...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
당신도 용사가 될 수 있습니다! 아마도?,"""자 이번엔 무슨 게임을 해야 하나..""\n\n나는 평범한 히키코모리로 사람들을 만...","""자 그럼 일단 이 세계에 대해서 설명하도록 할게!""\n\n자칭 운영자는 그렇게 말...",2화\n\n아무것도 보이지 않고 아무것도 느껴지지 않는 검은 공간.\n\n하지만 소...,"3화\n\n""자 그럼 여기에 있으신 분들은 별로 없지만, 자기소개 해야져!""\n\n...","4화.\n\n""나? 연우.""\n\n연우.\n\n그 이름을 들은 순간 갑자기 어디선가...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
content_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   1화            140 non-null    object
 1   2화            140 non-null    object
 2   3화            140 non-null    object
 3   4화            140 non-null    object
 4   5화            140 non-null    object
 5   1화 단어 수       140 non-null    int64
 6   1화 공백 수       140 non-null    int64
 7   1화 공백 포함 글자수  140 non-null    int64
 8   1화 공백 제거 글자수  140 non-null    int64
 9   2화 단어 수       140 non-null    int64
 10  2화 공백 수       140 non-null    int64
 11  2화 공백 포함 글자수  140 non-null    int64
 12  2화 공백 제거 글자수  140 non-null    int64
 13  3화 단어 수       140 non-null    int64
 14  3화 공백 수       140 non-null    int64
 15  3화 공백 포함 글자수  140 non-null    int64
 16  3화 공백 제거 글자수  140 non-null    int64
 17  4화 단어 수       140 non-null    int64
 18  4화 공백 수       140 non-null    int64
 19  4화 공백 포함 글자수  140 non-null    int64
 20  4화 공백 제거 글자수  140 non-null    int64
 21  5화 단어 수       140 non-null    int64
 22  5화 공백 수       140 non-null    int64
 23  5화 공백 포함 글자수  140 non-null    int64
 24  5화 공백 제거 글자수  140 non-null    int64
dtypes: int64(20), object(5)
memory usage: 32.5+ KB

In [63]:
for i in range(5):
  for j in range(140): 
    word, blank, char_blank, char_no_blank = count_blank(content_c.iloc[j, i])

    start_num = 5 + i * 4

    content_c.iloc[j, start_num] = int(word)
    content_c.iloc[j, start_num+1] = int(blank)
    content_c.iloc[j, start_num+2] = int(char_blank)
    content_c.iloc[j, start_num+3] = int(char_no_blank)

content_c.head(5)

,1화,2화,3화,4화,5화,1화 단어 수,1화 공백 수,1화 공백 포함 글자수,1화 공백 제거 글자수,2화 단어 수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
이름,,,,,,,,,,,,,,,,,,,,,
"나의 친구, 다정한 완벽주의자","문제의 며칠 전, 여느 때처럼 나희는 하진과 함께 그의 집 거실에 있었다.\n\n나...",하진은 긴 손가락 사이로 펜을 돌리며 무표정하게 빔프로젝터가 비추는 곳을 주시했다....,"""내가 날짜를 잘못 골랐나 봐. 다음 스케줄도 있는 줄 알았으면 다른 날 올걸.""\...",만남은 쉽고 이별은 어렵다는 노래 가사가 요즘 부쩍 공감되었다.\n\n지나온 십 대...,온몸이 물에 젖은 것처럼 힘이 없다. 물속에 가라앉은 것처럼 무거운 나희 몸을 누군...,1345,1344,5526,4182,1246,...,5680,4299,1448,1447,5984,4537,1212,1211,5014,3803
눈빛만으로,\n \n \n \n 1화...,\n\n\n\n 2화. 아미정 뒤채\n\n\n\n\n\...,\n\n\n\n 3화. 저승사자 (1)\n\n\...,\n \n \n \n 4화. 저승사자 (2)...,\n\n\n\n 5화. 재회 (1)\n\n\n\...,875,874,4739,3865,777,...,4975,4090,865,864,4749,3885,949,948,5162,4214
내 공식적인 아내가 되어줘,1화 투자자의 비서\n\n\n그는 기품 있고 매력적이라 사람을 당기지만 그렇기에 다...,"2화 스물셋, 스물아홉\n\n\n한 때 저 넓은 어깨에 안기고 싶어서 혼자 두근대고...","3화 재회\n\n\n이렇게 둘이 이른 저녁을 먹고 나서야, 그녀는 홀가분하게 퇴근 ...",4화 속일 게 따로 있지\n\n\n약간의 웨이브진 머리도 잘 소화하는 아름다운 얼굴...,"5화 협상과 유혹\n\n\n슬비가 윤성의 본가를 도망치듯 나왔을 때는, 할머니가 거...",1111,1110,4807,3697,1064,...,4857,3730,1119,1118,4899,3781,1104,1103,4924,3821
나의 여름은 낭만이었다,저녁 식사를 마치고 나니 배가 불렀다. 산책을 하다가 좀 쉴까 싶어서 소나무 숲길 ...,언제부터 보고 있었을까. \n\n똑바로 선 보영과 넘어진 설주를 바라보는 재헌이 불...,\n\n아침이 밝았다.\n\n연꽃 가든 숙소 밖은 사람들 소리로 웅성거렸다.\n\n...,속이 부글부글 댔다.\n\n어제 전을 많이 먹었나.\n\n스트레스받아서 허겁지겁 음...,"“내가 어떻게….”\n\n우으읍, 울음을 참던 백진주가 닭똥 같은 눈물을 흘렸다.\...",470,469,1999,1530,1330,...,4873,3728,1260,1259,5485,4226,1507,1506,6636,5130
"5분, 둘 만의 비밀","프롤로그\n\n\n <위스키 잔에 떨어지는 그의 눈물이 방울, 방울.> \n\n위...",#002. \n\n <귀찮아. 내일 밤에 귀국하는 걸로 해줘. 나 잠수 탈거야...,003-미래. \n\n “장미래씨에게 전 무명이네요”\n\n차 안에서 들으니 더 ...,004 \n\n주섬주섬 몸을 일으킨 남자는 내 이마에 살짝 입맞춤을 했다. 좋았지...,"005-현재. \n\n내 시선이 닿은 곳에 그녀가 있었다. \n\n엄마의 제삿날,...",135,134,579,445,1946,...,8246,6332,1702,1701,7484,5783,1461,1460,6415,4955

In [64]:
num_c_data = pd.concat([num_c_data, content_c.iloc[:, 5:]], axis=1)
num_c_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   총합 별점         140 non-null    float64
 1   1화 별점수        140 non-null    int64
 2   1화 별점         140 non-null    float64
 3   1화 조회수        140 non-null    int64
 4   2화 별점수        140 non-null    int64
 5   2화 별점         140 non-null    float64
 6   2화 조회수        140 non-null    int64
 7   3화 별점수        140 non-null    int64
 8   3화 별점         140 non-null    float64
 9   3화 조회수        140 non-null    int64
 10  4화 별점수        140 non-null    int64
 11  4화 별점         140 non-null    float64
 12  4화 조회수        140 non-null    int64
 13  5화 별점수        140 non-null    int64
 14  5화 별점         140 non-null    float64
 15  5화 조회수        140 non-null    int64
 16  1-2화 업로드 간격   140 non-null    int64
 17  2-3화 업로드 간격   140 non-null    int64
 18  3-4화 업로드 간격   140 non-null    int64
 19  4-5화 업로드 간격   140 non-null    int64
 20  1화 단어 수       140 non-null    int64
 21  1화 공백 수       140 non-null    int64
 22  1화 공백 포함 글자수  140 non-null    int64
 23  1화 공백 제거 글자수  140 non-null    int64
 24  2화 단어 수       140 non-null    int64
 25  2화 공백 수       140 non-null    int64
 26  2화 공백 포함 글자수  140 non-null    int64
 27  2화 공백 제거 글자수  140 non-null    int64
 28  3화 단어 수       140 non-null    int64
 29  3화 공백 수       140 non-null    int64
 30  3화 공백 포함 글자수  140 non-null    int64
 31  3화 공백 제거 글자수  140 non-null    int64
 32  4화 단어 수       140 non-null    int64
 33  4화 공백 수       140 non-null    int64
 34  4화 공백 포함 글자수  140 non-null    int64
 35  4화 공백 제거 글자수  140 non-null    int64
 36  5화 단어 수       140 non-null    int64
 37  5화 공백 수       140 non-null    int64
 38  5화 공백 포함 글자수  140 non-null    int64
 39  5화 공백 제거 글자수  140 non-null    int64
dtypes: float64(6), int64(34)
memory usage: 48.9+ KB

In [65]:
num_c_data.describe()

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,...,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,8.109571,8.328571,7.887214,857.307143,6.792857,7.419857,522.735714,6.157143,7.359714,382.850000,...,4304.757143,3305.400000,983.692857,982.692857,4225.657143,3242.964286,999.878571,998.878571,4314.292857,3315.414286
std,3.572638,11.935946,3.676665,2072.814772,10.077753,4.146627,1118.106342,9.271501,4.236109,705.724353,...,3026.799195,2317.097781,652.721099,652.721099,2750.786362,2099.995092,662.653001,662.653001,2847.135783,2188.378566
min,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,...,126.000000,102.000000,29.000000,28.000000,149.000000,121.000000,2.000000,1.000000,6.000000,5.000000
25%,8.932500,1.000000,7.995000,29.250000,1.000000,6.760000,15.000000,1.000000,6.175000,12.000000,...,2014.500000,1548.250000,465.000000,464.000000,2216.750000,1689.750000,435.500000,434.500000,1927.250000,1432.000000
50%,9.970000,5.000000,10.000000,192.000000,3.500000,10.000000,124.000000,3.000000,10.000000,97.000000,...,4839.500000,3721.500000,1038.500000,1037.500000,4500.500000,3449.500000,1026.500000,1025.500000,4613.000000,3524.500000
75%,10.000000,11.000000,10.000000,909.750000,8.000000,10.000000,615.750000,8.000000,10.000000,459.500000,...,5639.250000,4312.000000,1323.250000,1322.250000,5602.000000,4269.500000,1338.500000,1337.500000,5743.750000,4410.750000
max,10.000000,82.000000,10.000000,20000.000000,69.000000,10.000000,10000.000000,65.000000,10.000000,5689.000000,...,19842.000000,15315.000000,4659.000000,4658.000000,19636.000000,14978.000000,3812.000000,3811.000000,16766.000000,12955.000000

In [66]:
num_c_data.idxmin()

총합 별점                갑자기 황녀가 되어버렸다
1화 별점수               갑자기 황녀가 되어버렸다
1화 별점                갑자기 황녀가 되어버렸다
1화 조회수                    나는 마왕이였다
2화 별점수               갑자기 황녀가 되어버렸다
2화 별점                갑자기 황녀가 되어버렸다
2화 조회수                    나는 마왕이였다
3화 별점수               갑자기 황녀가 되어버렸다
3화 별점                갑자기 황녀가 되어버렸다
3화 조회수                  안개의 영역 속에서
4화 별점수               갑자기 황녀가 되어버렸다
4화 별점                갑자기 황녀가 되어버렸다
4화 조회수          그냥 히어로물 (어둠 속의 영웅)
5화 별점수               갑자기 황녀가 되어버렸다
5화 별점                갑자기 황녀가 되어버렸다
5화 조회수          그냥 히어로물 (어둠 속의 영웅)
1-2화 업로드 간격       나의 친구, 다정한 완벽주의자
2-3화 업로드 간격               반말하는 연하남
3-4화 업로드 간격               반말하는 연하남
4-5화 업로드 간격              당신의 첫사랑에게
1화 단어 수                  비바라기 꼭두각시
1화 공백 수                  비바라기 꼭두각시
1화 공백 포함 글자수             비바라기 꼭두각시
1화 공백 제거 글자수             비바라기 꼭두각시
2화 단어 수                  비바라기 꼭두각시
2화 공백 수                  비바라기 꼭두각시
2화 공백 포함 글자수             비바라기 꼭두각시
2화 공백 제거 글자수             비바라기 꼭두각시
3화 단어 수                  비바라기 꼭두각시
3화 공백 수                  비바라기 꼭두각시
3화 공백 포함 글자수             비바라기 꼭두각시
3화 공백 제거 글자수             비바라기 꼭두각시
4화 단어 수                  비바라기 꼭두각시
4화 공백 수                  비바라기 꼭두각시
4화 공백 포함 글자수             비바라기 꼭두각시
4화 공백 제거 글자수             비바라기 꼭두각시
5화 단어 수                  비바라기 꼭두각시
5화 공백 수                  비바라기 꼭두각시
5화 공백 포함 글자수             비바라기 꼭두각시
5화 공백 제거 글자수             비바라기 꼭두각시
dtype: object

In [67]:
c_data.loc['비바라기 꼭두각시']  # 이상치 확인

장르                                                         라이트노벨
총합 별점                                                        9.7
관심수                                                            1
작품리뷰수                                                          0
1화             새벽녘을 거슬러 올라가다보면 너를 만난다는게_x000D_\n행운인지도 모르겠다._x...
1화 별점수                                                         1
2화             "어.. 안티네.."_x000D_\n안티다운 모습을 보여준 뀨 모습에 나는 행복했다...
2화 별점수                                                         1
3화             나는 어느틈에 글자를 가지고놀고 있었다.._x000D_\n비바라기 꼭두각시.. 처형...
3화 별점수                                                         1
4화             나는 아무것도 모르게 자랐다. 내가 얘기한거면_x000D_\n빼놓고 자라도 있을법한...
4화 별점수                                                         1
5화                                                우와_x000D_\n재밌네
5화 별점수                                                         1
5화 별점                                                       10.0
5화 조회수                                                        24
5화 올린 날짜                                              2016.02.28
4화 별점                                                       10.0
4화 조회수                                                        31
4화 올린 날짜                                              2016.02.28
3화 별점                                                       10.0
3화 조회수                                                        43
3화 올린 날짜                                              2016.02.28
2화 별점                                                       10.0
2화 조회수                                                        52
2화 올린 날짜                                              2016.02.28
1화 별점                                                       10.0
1화 조회수                                                        68
1화 올린 날짜                                              2016.02.28
1화 댓글                                                        128
2화 댓글                                                        NaN
3화 댓글                                                        NaN
4화 댓글                                                        NaN
5화 댓글                                                        NaN
Unnamed: 35                                                  NaN
Name: 비바라기 꼭두각시, dtype: object

In [68]:
num_c_data.drop(['비바라기 꼭두각시'], axis=0, inplace=True)  # 이상치 제거
num_c_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 40 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   총합 별점         139 non-null    float64
 1   1화 별점수        139 non-null    int64
 2   1화 별점         139 non-null    float64
 3   1화 조회수        139 non-null    int64
 4   2화 별점수        139 non-null    int64
 5   2화 별점         139 non-null    float64
 6   2화 조회수        139 non-null    int64
 7   3화 별점수        139 non-null    int64
 8   3화 별점         139 non-null    float64
 9   3화 조회수        139 non-null    int64
 10  4화 별점수        139 non-null    int64
 11  4화 별점         139 non-null    float64
 12  4화 조회수        139 non-null    int64
 13  5화 별점수        139 non-null    int64
 14  5화 별점         139 non-null    float64
 15  5화 조회수        139 non-null    int64
 16  1-2화 업로드 간격   139 non-null    int64
 17  2-3화 업로드 간격   139 non-null    int64
 18  3-4화 업로드 간격   139 non-null    int64
 19  4-5화 업로드 간격   139 non-null    int64
 20  1화 단어 수       139 non-null    int64
 21  1화 공백 수       139 non-null    int64
 22  1화 공백 포함 글자수  139 non-null    int64
 23  1화 공백 제거 글자수  139 non-null    int64
 24  2화 단어 수       139 non-null    int64
 25  2화 공백 수       139 non-null    int64
 26  2화 공백 포함 글자수  139 non-null    int64
 27  2화 공백 제거 글자수  139 non-null    int64
 28  3화 단어 수       139 non-null    int64
 29  3화 공백 수       139 non-null    int64
 30  3화 공백 포함 글자수  139 non-null    int64
 31  3화 공백 제거 글자수  139 non-null    int64
 32  4화 단어 수       139 non-null    int64
 33  4화 공백 수       139 non-null    int64
 34  4화 공백 포함 글자수  139 non-null    int64
 35  4화 공백 제거 글자수  139 non-null    int64
 36  5화 단어 수       139 non-null    int64
 37  5화 공백 수       139 non-null    int64
 38  5화 공백 포함 글자수  139 non-null    int64
 39  5화 공백 제거 글자수  139 non-null    int64
dtypes: float64(6), int64(34)
memory usage: 44.5+ KB

In [69]:
num_c_data.describe()

,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,3화 별점수,3화 별점,3화 조회수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
count,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,...,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,8.098129,8.381295,7.872014,862.985612,6.834532,7.401295,526.122302,6.194245,7.340719,385.294964,...,4334.820144,3328.446043,990.561151,989.561151,4254.985612,3265.424460,1007.057554,1006.057554,4345.287770,3339.230216
std,3.582983,11.962741,3.685545,2079.218258,10.102086,4.155783,1121.429286,9.294597,4.245442,707.681379,...,3016.695957,2309.318486,649.984594,649.984594,2738.679021,2090.645753,659.563017,659.563017,2833.628798,2178.008365
min,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,0.000000,1.000000,...,201.000000,157.000000,33.000000,32.000000,155.000000,123.000000,45.000000,44.000000,197.000000,153.000000
25%,8.915000,1.000000,7.930000,28.500000,1.000000,6.640000,15.000000,1.000000,5.950000,12.000000,...,2027.500000,1559.000000,500.500000,499.500000,2277.500000,1733.000000,461.000000,460.000000,2012.500000,1527.500000
50%,9.970000,5.000000,10.000000,208.000000,4.000000,10.000000,125.000000,3.000000,10.000000,105.000000,...,4857.000000,3728.000000,1042.000000,1041.000000,4532.000000,3460.000000,1045.000000,1044.000000,4808.000000,3675.000000
75%,10.000000,11.000000,10.000000,910.500000,8.000000,10.000000,616.500000,8.000000,10.000000,466.000000,...,5641.500000,4325.000000,1324.500000,1323.500000,5611.000000,4274.000000,1339.000000,1338.000000,5759.500000,4411.500000
max,10.000000,82.000000,10.000000,20000.000000,69.000000,10.000000,10000.000000,65.000000,10.000000,5689.000000,...,19842.000000,15315.000000,4659.000000,4658.000000,19636.000000,14978.000000,3812.000000,3811.000000,16766.000000,12955.000000

### 댓글 데이터

In [72]:
# 댓글 데이터 로드
reply_c = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/challengenovel_data_최종_댓글(정리본).xlsx', index_col='이름')
reply_b = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/bestnovel_data_최종_댓글(정리본).xlsx', index_col='이름')

reply_b.head(5)

,장르,총합 별점,관심수,작품리뷰수,1화,1화 별점수,2화,2화 별점수,3화,3화 별점수,...,1화 댓글,1화 댓글 수,2화 댓글,2화 댓글 수,3화 댓글,3화 댓글 수,4화 댓글,4화 댓글 수,5화 댓글,5화 댓글 수
이름,,,,,,,,,,,,,,,,,,,,,
임신 계략,로맨스,9.98,"2,179",4,1화_x000D_\n_x000D_\n가은은 꽉 닫힌 서재의 문을 한참동안이나 멍하니...,166,2화_x000D_\n_x000D_\n“블랙박스 영상은 잘 처리하셨죠?”_x000D_...,156,3화_x000D_\n_x000D_\n가은은 지도준의 손길에 이끌려 어쩔 수 없이 그...,145,...,"['불쌍하다고 말한 그 순간부터 업보 시작이쥬 ,,, 둘의 관계은 뭔지, 무슨 일이...",2,['아니… 가은아 연기는 아닌가봐… 너무 어설퍼서 다보옄ㅋㅋㅠㅠ 똑똑한 남자인걸 알...,7.0,['아 짜릿ㅎㅎㅎ 역시 집착 왕창 스푼으로 넣어줘야죠! 거기에 도망가는 여주… 아무...,4,"['안녕하세요, 엄신주 작가님. 로맨스 웹소설 출판사 스노우미디어입니다. 작가님께 ...",1,"['설정이 너무 약해요…기억상실이면 이렇게 못할텐데…', '아슬아슬~~ 뭔가 어설픔...",5
제국의 하인,로맨스,9.99,"2,135",18,1. 나쁜X_x000D_\n_x000D_\n_x000D_\n* * *_x000D_\...,225,2. 악연의 시작_x000D_\n_x000D_\n_x000D_\n* * *_x000...,181,3. 가스라이팅_x000D_\n_x000D_\n_x000D_\n* * *_x000D...,184,...,['라인에 이어 ~\n법 스토리 너무 좋아요 ~\n쭉 ~ 열심히 따라 다니겠습니다 ...,21,['현백합.. 이름부터 뭔가 불안한데요.. 마지막에는 임신이라니..\n회장님도 그렇...,9.0,"['댑악...이번 소설은 더 재미있는 것 같은데요??', '와 현백합... 벌써부터...",12,"['도와줘', '잘 읽고 갑니다 ~', '그 엄마에 그 딸이네요 정말... 제국이가...",5,"['잘 타이르네', '제니가 혼이 나서 좀 사이다인데 하인이 말처럼 나중에 제니가 ...",3
"첫사랑, 첫이별, 첫아이",로맨스,9.99,"1,549",10,파르르 입술이 떨려왔다._x000D_\n_x000D_\n_x000D_\n내 호흡소리...,211,그는 대답대신 침대에서 일어나 담배에 불을 붙이더니 창가로 갔다._x000D_\n_...,172,임신진단키트의 선명한 빨간 두 줄이 생리의 붉은 출혈 마냥 선명하게 내 두 눈에 들...,155,...,"['작가분 경험담인줄', \n'정주행 시작합니다~^^', \n'초반 시작이 너무 서...",16,['어떤약속도 없이 미국으로 떠난다면서 그걸 첫관계이후에 말해? 양심은 밥말아먹었나...,10.0,"['아 이런 쓰레귀가…', '이기적 남자....', '참으로 무책임한 남자일세.',...",10,"['미안함과 죄책감\nG R 를해라 G R 를\n남주 따로 있는거죠?', '완전 미...",16,['평범한 소설이지만 계속보게되네요.결론도 다른소설처럼 되나요?같은부류 흙수저끼리결...,4
못난이 아내,로맨스,9.98,"1,136",0,유난히도 개운한 월요일 아침이였다. _x000D_\n_x000D_\n_x00...,99,"“아저씨, 좋은 아침입니다.“_x000D_\n_x000D_\n_x000D_\...",100,_x000D_\n_x000D_\n “오늘은 바닐라 라떼로.“_x000D_\...,95,...,['시작은 프롤로그여요~\n끝이 에필로그'],1,['재밌게 보고 있어요'],1.0,['도현에게 무슨일이 있었는지 넘 궁금해요'],1,NaN,0,['1일1연재가 시급해요 작가님 자주 와주세요'],1
남편의 체온,로맨스,9.97,"1,482",4,_x000D_\n#1. 연애다운 연애_x000D_\n_x000D_\n_x000D_\...,177,#2. 키스 해봤니?_x000D_\n_x000D_\n_x000D_\n저를 데리러 온...,155,_x000D_\n#3. 다음에 만나면…… 안아주세요_x000D_\n_x000D_\n...,138,...,"['앗~~~\n만나서 반가워요~~~\n즐겁고 행복하게 볼께요~', \n'아...남에...",13,"['모르면 용감하다더니..ㅎㅎㅎ', 'ㅁㅊ....므가 이래', 'ㅋㅋㅋㅋ', '옴마...",12.0,['엇..지완이에게 마음에 둔 여자가 있었네요.\n세라가 알게 되면 상처받진 않을지...,4,"['왠지 AI 랑 연애하는거 같아', '달달한데도 뭔가 불안해요.\n지완이 첫사랑도...",5,['아하. 이 이야기는 다른 작품의 후속이었군요.\n찾아 읽어봐야겠어요ㅋ\n박터지게...,14

In [73]:
# 이상치 제거
reply_c.drop(['비바라기 꼭두각시'], axis=0, inplace=True)
reply_b.drop(['그래서, 성녀와 마왕에게 쫓기는 기분은 어떠신지?'], axis=0, inplace=True)

In [76]:
final_b = pd.concat([reply_b.iloc[:, :3], num_b_data], axis=1)  # 전처리한 수치형 컬럼 병합
print(final_b.info())
final_b.head(1)

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            139 non-null    object
 1   총합 별점         139 non-null    float64
 2   관심수           139 non-null    object
 3   총합 별점         139 non-null    float64
 4   1화 별점수        139 non-null    int64
 5   1화 별점         139 non-null    float64
 6   1화 조회수        139 non-null    int64
 7   2화 별점수        139 non-null    int64
 8   2화 별점         139 non-null    float64
 9   2화 조회수        139 non-null    int64
 10  3화 별점수        139 non-null    int64
 11  3화 별점         139 non-null    float64
 12  3화 조회수        139 non-null    int64
 13  4화 별점수        139 non-null    int64
 14  4화 별점         139 non-null    float64
 15  4화 조회수        139 non-null    int64
 16  5화 별점수        139 non-null    int64
 17  5화 별점         139 non-null    float64
 18  5화 조회수        139 non-null    int64
 19  1-2화 업로드 간격   139 non-null    int64
 20  2-3화 업로드 간격   139 non-null    int64
 21  3-4화 업로드 간격   139 non-null    int64
 22  4-5화 업로드 간격   139 non-null    int64
 23  1화 단어 수       139 non-null    int64
 24  1화 공백 수       139 non-null    int64
 25  1화 공백 포함 글자수  139 non-null    int64
 26  1화 공백 제거 글자수  139 non-null    int64
 27  2화 단어 수       139 non-null    int64
 28  2화 공백 수       139 non-null    int64
 29  2화 공백 포함 글자수  139 non-null    int64
 30  2화 공백 제거 글자수  139 non-null    int64
 31  3화 단어 수       139 non-null    int64
 32  3화 공백 수       139 non-null    int64
 33  3화 공백 포함 글자수  139 non-null    int64
 34  3화 공백 제거 글자수  139 non-null    int64
 35  4화 단어 수       139 non-null    int64
 36  4화 공백 수       139 non-null    int64
 37  4화 공백 포함 글자수  139 non-null    int64
 38  4화 공백 제거 글자수  139 non-null    int64
 39  5화 단어 수       139 non-null    int64
 40  5화 공백 수       139 non-null    int64
 41  5화 공백 포함 글자수  139 non-null    int64
 42  5화 공백 제거 글자수  139 non-null    int64
dtypes: float64(7), int64(34), object(2)
memory usage: 47.8+ KB
None

,장르,총합 별점,관심수,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,...,3화 공백 포함 글자수,3화 공백 제거 글자수,4화 단어 수,4화 공백 수,4화 공백 포함 글자수,4화 공백 제거 글자수,5화 단어 수,5화 공백 수,5화 공백 포함 글자수,5화 공백 제거 글자수
이름,,,,,,,,,,,,,,,,,,,,,
임신 계략,로맨스,9.98,"2,179",9.98,166,9.95,30000,156,10.0,30000,...,4737,3589,1151,1150,4818,3668,1096,1095,4711,3616

In [77]:
final_b = pd.concat([final_b, reply_b[['1화 댓글 수', '2화 댓글 수', '3화 댓글 수', '4화 댓글 수', '5화 댓글 수']]], axis=1)  # 댓글 수 컬럼 추가
final_b.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 48 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            139 non-null    object
 1   총합 별점         139 non-null    float64
 2   관심수           139 non-null    object
 3   총합 별점         139 non-null    float64
 4   1화 별점수        139 non-null    int64
 5   1화 별점         139 non-null    float64
 6   1화 조회수        139 non-null    int64
 7   2화 별점수        139 non-null    int64
 8   2화 별점         139 non-null    float64
 9   2화 조회수        139 non-null    int64
 10  3화 별점수        139 non-null    int64
 11  3화 별점         139 non-null    float64
 12  3화 조회수        139 non-null    int64
 13  4화 별점수        139 non-null    int64
 14  4화 별점         139 non-null    float64
 15  4화 조회수        139 non-null    int64
 16  5화 별점수        139 non-null    int64
 17  5화 별점         139 non-null    float64
 18  5화 조회수        139 non-null    int64
 19  1-2화 업로드 간격   139 non-null    int64
 20  2-3화 업로드 간격   139 non-null    int64
 21  3-4화 업로드 간격   139 non-null    int64
 22  4-5화 업로드 간격   139 non-null    int64
 23  1화 단어 수       139 non-null    int64
 24  1화 공백 수       139 non-null    int64
 25  1화 공백 포함 글자수  139 non-null    int64
 26  1화 공백 제거 글자수  139 non-null    int64
 27  2화 단어 수       139 non-null    int64
 28  2화 공백 수       139 non-null    int64
 29  2화 공백 포함 글자수  139 non-null    int64
 30  2화 공백 제거 글자수  139 non-null    int64
 31  3화 단어 수       139 non-null    int64
 32  3화 공백 수       139 non-null    int64
 33  3화 공백 포함 글자수  139 non-null    int64
 34  3화 공백 제거 글자수  139 non-null    int64
 35  4화 단어 수       139 non-null    int64
 36  4화 공백 수       139 non-null    int64
 37  4화 공백 포함 글자수  139 non-null    int64
 38  4화 공백 제거 글자수  139 non-null    int64
 39  5화 단어 수       139 non-null    int64
 40  5화 공백 수       139 non-null    int64
 41  5화 공백 포함 글자수  139 non-null    int64
 42  5화 공백 제거 글자수  139 non-null    int64
 43  1화 댓글 수       139 non-null    int64
 44  2화 댓글 수       138 non-null    float64
 45  3화 댓글 수       139 non-null    int64
 46  4화 댓글 수       139 non-null    int64
 47  5화 댓글 수       139 non-null    int64
dtypes: float64(8), int64(38), object(2)
memory usage: 53.2+ KB

In [78]:
# 관심수 전처리
def preprocess_likes(data, c):
  for i in range(len(data)):
    data.iloc[i, c] = data.iloc[i, c].replace(',', '')  # , 제거
    if '만' in data.iloc[i, c]:
      data.iloc[i, c] = int(data.iloc[i, c][:-1]) * 10000  # 만 제거 및 int형 변환
  data = data.astype({'관심수' : 'int64'})
  return data

In [79]:
final_b = preprocess_likes(final_b, 2)
final_b.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 48 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            139 non-null    object
 1   총합 별점         139 non-null    float64
 2   관심수           139 non-null    int64
 3   총합 별점         139 non-null    float64
 4   1화 별점수        139 non-null    int64
 5   1화 별점         139 non-null    float64
 6   1화 조회수        139 non-null    int64
 7   2화 별점수        139 non-null    int64
 8   2화 별점         139 non-null    float64
 9   2화 조회수        139 non-null    int64
 10  3화 별점수        139 non-null    int64
 11  3화 별점         139 non-null    float64
 12  3화 조회수        139 non-null    int64
 13  4화 별점수        139 non-null    int64
 14  4화 별점         139 non-null    float64
 15  4화 조회수        139 non-null    int64
 16  5화 별점수        139 non-null    int64
 17  5화 별점         139 non-null    float64
 18  5화 조회수        139 non-null    int64
 19  1-2화 업로드 간격   139 non-null    int64
 20  2-3화 업로드 간격   139 non-null    int64
 21  3-4화 업로드 간격   139 non-null    int64
 22  4-5화 업로드 간격   139 non-null    int64
 23  1화 단어 수       139 non-null    int64
 24  1화 공백 수       139 non-null    int64
 25  1화 공백 포함 글자수  139 non-null    int64
 26  1화 공백 제거 글자수  139 non-null    int64
 27  2화 단어 수       139 non-null    int64
 28  2화 공백 수       139 non-null    int64
 29  2화 공백 포함 글자수  139 non-null    int64
 30  2화 공백 제거 글자수  139 non-null    int64
 31  3화 단어 수       139 non-null    int64
 32  3화 공백 수       139 non-null    int64
 33  3화 공백 포함 글자수  139 non-null    int64
 34  3화 공백 제거 글자수  139 non-null    int64
 35  4화 단어 수       139 non-null    int64
 36  4화 공백 수       139 non-null    int64
 37  4화 공백 포함 글자수  139 non-null    int64
 38  4화 공백 제거 글자수  139 non-null    int64
 39  5화 단어 수       139 non-null    int64
 40  5화 공백 수       139 non-null    int64
 41  5화 공백 포함 글자수  139 non-null    int64
 42  5화 공백 제거 글자수  139 non-null    int64
 43  1화 댓글 수       139 non-null    int64
 44  2화 댓글 수       138 non-null    float64
 45  3화 댓글 수       139 non-null    int64
 46  4화 댓글 수       139 non-null    int64
 47  5화 댓글 수       139 non-null    int64
dtypes: float64(8), int64(39), object(1)
memory usage: 53.2+ KB

In [80]:
final_c = pd.concat([reply_c.iloc[:, :3], num_c_data], axis=1)
final_c = pd.concat([final_c, reply_c[['1화 댓글 수', '2화 댓글 수', '3화 댓글 수', '4화 댓글 수', '5화 댓글 수']]], axis=1)
# final_c = preprocess_likes(final_c, 2)
final_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 139 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 48 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            139 non-null    object
 1   총합 별점         139 non-null    float64
 2   관심수           139 non-null    int64
 3   총합 별점         139 non-null    float64
 4   1화 별점수        139 non-null    int64
 5   1화 별점         139 non-null    float64
 6   1화 조회수        139 non-null    int64
 7   2화 별점수        139 non-null    int64
 8   2화 별점         139 non-null    float64
 9   2화 조회수        139 non-null    int64
 10  3화 별점수        139 non-null    int64
 11  3화 별점         139 non-null    float64
 12  3화 조회수        139 non-null    int64
 13  4화 별점수        139 non-null    int64
 14  4화 별점         139 non-null    float64
 15  4화 조회수        139 non-null    int64
 16  5화 별점수        139 non-null    int64
 17  5화 별점         139 non-null    float64
 18  5화 조회수        139 non-null    int64
 19  1-2화 업로드 간격   139 non-null    int64
 20  2-3화 업로드 간격   139 non-null    int64
 21  3-4화 업로드 간격   139 non-null    int64
 22  4-5화 업로드 간격   139 non-null    int64
 23  1화 단어 수       139 non-null    int64
 24  1화 공백 수       139 non-null    int64
 25  1화 공백 포함 글자수  139 non-null    int64
 26  1화 공백 제거 글자수  139 non-null    int64
 27  2화 단어 수       139 non-null    int64
 28  2화 공백 수       139 non-null    int64
 29  2화 공백 포함 글자수  139 non-null    int64
 30  2화 공백 제거 글자수  139 non-null    int64
 31  3화 단어 수       139 non-null    int64
 32  3화 공백 수       139 non-null    int64
 33  3화 공백 포함 글자수  139 non-null    int64
 34  3화 공백 제거 글자수  139 non-null    int64
 35  4화 단어 수       139 non-null    int64
 36  4화 공백 수       139 non-null    int64
 37  4화 공백 포함 글자수  139 non-null    int64
 38  4화 공백 제거 글자수  139 non-null    int64
 39  5화 단어 수       139 non-null    int64
 40  5화 공백 수       139 non-null    int64
 41  5화 공백 포함 글자수  139 non-null    int64
 42  5화 공백 제거 글자수  139 non-null    int64
 43  1화 댓글 수       139 non-null    int64
 44  2화 댓글 수       139 non-null    int64
 45  3화 댓글 수       139 non-null    int64
 46  4화 댓글 수       139 non-null    int64
 47  5화 댓글 수       139 non-null    int64
dtypes: float64(7), int64(40), object(1)
memory usage: 53.2+ KB

### 평균 업로드 간격, 조회수, 댓글 수, 공백 제거 글자 수

In [81]:
final_c['평균 업로드 간격'] = final_c[['1-2화 업로드 간격', '2-3화 업로드 간격', '3-4화 업로드 간격', '4-5화 업로드 간격']].mean(axis=1)
final_b['평균 업로드 간격'] = final_b[['1-2화 업로드 간격', '2-3화 업로드 간격', '3-4화 업로드 간격', '4-5화 업로드 간격']].mean(axis=1)

In [82]:
final_c['평균 조회수'] = final_c[['1화 조회수', '2화 조회수', '3화 조회수', '4화 조회수', '5화 조회수']].mean(axis=1)
final_c['평균 댓글 수'] = final_c[['1화 댓글 수', '2화 댓글 수', '3화 댓글 수', '4화 댓글 수', '5화 댓글 수']].mean(axis=1)
final_c

,장르,총합 별점,관심수,총합 별점,1화 별점수,1화 별점,1화 조회수,2화 별점수,2화 별점,2화 조회수,...,5화 공백 포함 글자수,5화 공백 제거 글자수,1화 댓글 수,2화 댓글 수,3화 댓글 수,4화 댓글 수,5화 댓글 수,평균 업로드 간격,평균 조회수,평균 댓글 수
이름,,,,,,,,,,,,,,,,,,,,,
"나의 친구, 다정한 완벽주의자",로맨스,10.00,344,10.00,35,10.00,4837,32,10.0,3308,...,5014,3803,5,3,5,3,3,4.25,3117.0,3.8
눈빛만으로,로맨스,9.99,106,9.99,14,10.00,356,12,10.0,378,...,5162,4214,4,1,1,0,0,1.00,359.2,1.2
내 공식적인 아내가 되어줘,로맨스,10.00,118,10.00,11,10.00,1302,6,10.0,1045,...,4924,3821,0,0,0,0,0,1.00,977.8,0.0
나의 여름은 낭만이었다,로맨스,10.00,144,10.00,8,10.00,374,13,10.0,392,...,6636,5130,0,2,0,0,0,0.75,323.8,0.4
"5분, 둘 만의 비밀",로맨스,10.00,149,10.00,14,10.00,1398,19,10.0,1218,...,6415,4955,2,0,0,1,0,0.75,1121.8,0.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,라이트노벨,9.94,11,9.94,8,10.00,773,10,9.1,615,...,2743,2156,0,0,2,1,1,1.50,535.0,0.8
희비록,라이트노벨,9.99,6,9.99,7,9.86,171,5,10.0,83,...,1664,1284,0,2,2,1,2,1.75,73.2,1.4
생명과 이름:『호명 / 呼名』,라이트노벨,7.71,3,7.71,6,7.00,90,5,6.4,65,...,4418,3374,0,1,1,0,0,0.50,45.8,0.4
강약약강(强弱弱强),라이트노벨,10.00,3,10.00,2,10.00,55,2,10.0,18,...,3448,2649,0,1,0,0,0,0.50,25.0,0.2
당신도 용사가 될 수 있습니다! 아마도?,라이트노벨,9.97,14,9.97,13,9.31,831,11,10.0,618,...,3061,2356,0,6,0,2,0,0.25,517.8,1.6

In [83]:
final_b['평균 조회수'] = final_b[['1화 조회수', '2화 조회수', '3화 조회수', '4화 조회수', '5화 조회수']].mean(axis=1)
final_b['평균 댓글 수'] = final_b[['1화 댓글 수', '2화 댓글 수', '3화 댓글 수', '4화 댓글 수', '5화 댓글 수']].mean(axis=1)

In [84]:
# 장르별 평균 업로드 간격 outlier 제거

# challenge novel
out = final_c[final_c['평균 업로드 간격'] >= 100].index
print(out)
final_c.drop(out, inplace=True)

# best novel
out = final_b[final_b['평균 업로드 간격'] >= 100].index
print(out)
final_b.drop(out, inplace=True)

Index(['엘더원 실험과 사냥(I.D.O)'], dtype='object', name='이름')
Index(['흑가(黑家)', '범죄를 하는 경찰 조직.'나의 투쟁''], dtype='object', name='이름')

In [85]:
final_c['평균 공백 제거 글자수'] = final_c[['1화 공백 제거 글자수', '2화 공백 제거 글자수', '3화 공백 제거 글자수', '4화 공백 제거 글자수', '5화 공백 제거 글자수']].mean(axis=1)
final_b['평균 공백 제거 글자수'] = final_b[['1화 공백 제거 글자수', '2화 공백 제거 글자수', '3화 공백 제거 글자수', '4화 공백 제거 글자수', '5화 공백 제거 글자수']].mean(axis=1)

In [86]:
final_c.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 52 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            138 non-null    object
 1   총합 별점         138 non-null    float64
 2   관심수           138 non-null    int64
 3   총합 별점         138 non-null    float64
 4   1화 별점수        138 non-null    int64
 5   1화 별점         138 non-null    float64
 6   1화 조회수        138 non-null    int64
 7   2화 별점수        138 non-null    int64
 8   2화 별점         138 non-null    float64
 9   2화 조회수        138 non-null    int64
 10  3화 별점수        138 non-null    int64
 11  3화 별점         138 non-null    float64
 12  3화 조회수        138 non-null    int64
 13  4화 별점수        138 non-null    int64
 14  4화 별점         138 non-null    float64
 15  4화 조회수        138 non-null    int64
 16  5화 별점수        138 non-null    int64
 17  5화 별점         138 non-null    float64
 18  5화 조회수        138 non-null    int64
 19  1-2화 업로드 간격   138 non-null    int64
 20  2-3화 업로드 간격   138 non-null    int64
 21  3-4화 업로드 간격   138 non-null    int64
 22  4-5화 업로드 간격   138 non-null    int64
 23  1화 단어 수       138 non-null    int64
 24  1화 공백 수       138 non-null    int64
 25  1화 공백 포함 글자수  138 non-null    int64
 26  1화 공백 제거 글자수  138 non-null    int64
 27  2화 단어 수       138 non-null    int64
 28  2화 공백 수       138 non-null    int64
 29  2화 공백 포함 글자수  138 non-null    int64
 30  2화 공백 제거 글자수  138 non-null    int64
 31  3화 단어 수       138 non-null    int64
 32  3화 공백 수       138 non-null    int64
 33  3화 공백 포함 글자수  138 non-null    int64
 34  3화 공백 제거 글자수  138 non-null    int64
 35  4화 단어 수       138 non-null    int64
 36  4화 공백 수       138 non-null    int64
 37  4화 공백 포함 글자수  138 non-null    int64
 38  4화 공백 제거 글자수  138 non-null    int64
 39  5화 단어 수       138 non-null    int64
 40  5화 공백 수       138 non-null    int64
 41  5화 공백 포함 글자수  138 non-null    int64
 42  5화 공백 제거 글자수  138 non-null    int64
 43  1화 댓글 수       138 non-null    int64
 44  2화 댓글 수       138 non-null    int64
 45  3화 댓글 수       138 non-null    int64
 46  4화 댓글 수       138 non-null    int64
 47  5화 댓글 수       138 non-null    int64
 48  평균 업로드 간격     138 non-null    float64
 49  평균 조회수        138 non-null    float64
 50  평균 댓글 수       138 non-null    float64
 51  평균 공백 제거 글자수  138 non-null    float64
dtypes: float64(11), int64(40), object(1)
memory usage: 57.1+ KB

In [88]:
final_c_copy = final_c[['장르', '총합 별점', '관심수', '평균 조회수', '평균 업로드 간격', '평균 공백 제거 글자수', '평균 댓글 수']]
final_c_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 138 entries, 나의 친구, 다정한 완벽주의자 to 당신도 용사가 될 수 있습니다! 아마도?
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            138 non-null    object
 1   총합 별점         138 non-null    float64
 2   총합 별점         138 non-null    float64
 3   관심수           138 non-null    int64
 4   평균 조회수        138 non-null    float64
 5   평균 업로드 간격     138 non-null    float64
 6   평균 공백 제거 글자수  138 non-null    float64
 7   평균 댓글 수       138 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 9.7+ KB

In [90]:
final_b_copy = final_b[['장르', '총합 별점', '관심수', '평균 조회수', '평균 업로드 간격', '평균 공백 제거 글자수', '평균 댓글 수']]
final_b_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 137 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            137 non-null    object
 1   총합 별점         137 non-null    float64
 2   총합 별점         137 non-null    float64
 3   관심수           137 non-null    int64
 4   평균 조회수        137 non-null    float64
 5   평균 업로드 간격     137 non-null    float64
 6   평균 공백 제거 글자수  137 non-null    float64
 7   평균 댓글 수       137 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 9.6+ KB

In [99]:
final_b_copy.drop('저는 천신과 마신의 아들입니다', inplace=True)  # 조회수 이상치 제거
final_b_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 136 entries, 임신 계략 to 너와 내가 알지만, 나와 너는 모를 이야기
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   장르            136 non-null    object
 1   총합 별점         136 non-null    float64
 2   총합 별점         136 non-null    float64
 3   관심수           136 non-null    int64
 4   평균 조회수        136 non-null    float64
 5   평균 업로드 간격     136 non-null    float64
 6   평균 공백 제거 글자수  136 non-null    float64
 7   평균 댓글 수       136 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 9.6+ KB

<ipython-input-99-0b0d0db532d4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_b_copy.drop('저는 천신과 마신의 아들입니다', inplace=True)  # 조회수 이상치 제거

In [ ]:
fianl_c_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 138 entries, 0 to 138
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   이름            138 non-null    object
 1   장르            138 non-null    object
 2   총합 별점         138 non-null    float64
 3   관심수           138 non-null    int64
 4   평균 조회수        138 non-null    float64
 5   평균 업로드 간격     138 non-null    float64
 6   평균 공백 제거 글자수  138 non-null    float64
 7   평균 댓글 수       138 non-null    float64
dtypes: float64(5), int64(1), object(2)
memory usage: 9.7+ KB

### 성공 여부(Target) 컬럼 생성
- 챌린지 리그 : 성공 가능성이 있는 작품 (0)
- 베스트 리그 : 성공한 작품 (1)

In [100]:
final_c_copy['Target'] = 0  # 챌린지 리그(0)
final_c_copy

<ipython-input-100-4e0c517ab920>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_c_copy['Target'] = 0

,장르,총합 별점,총합 별점,관심수,평균 조회수,평균 업로드 간격,평균 공백 제거 글자수,평균 댓글 수,Target
이름,,,,,,,,,
"나의 친구, 다정한 완벽주의자",로맨스,10.00,10.00,344,3117.0,4.25,4158.0,3.8,0
눈빛만으로,로맨스,9.99,9.99,106,359.2,1.00,3917.0,1.2,0
내 공식적인 아내가 되어줘,로맨스,10.00,10.00,118,977.8,1.00,3739.0,0.0,0
나의 여름은 낭만이었다,로맨스,10.00,10.00,144,323.8,0.75,3796.6,0.4,0
"5분, 둘 만의 비밀",로맨스,10.00,10.00,149,1121.8,0.75,4778.6,0.6,0
...,...,...,...,...,...,...,...,...,...
바뀌어버린 세계,라이트노벨,9.94,9.94,11,535.0,1.50,2385.6,0.8,0
희비록,라이트노벨,9.99,9.99,6,73.2,1.75,1198.6,1.4,0
생명과 이름:『호명 / 呼名』,라이트노벨,7.71,7.71,3,45.8,0.50,3052.4,0.4,0
강약약강(强弱弱强),라이트노벨,10.00,10.00,3,25.0,0.50,2890.4,0.2,0
당신도 용사가 될 수 있습니다! 아마도?,라이트노벨,9.97,9.97,14,517.8,0.25,2085.4,1.6,0

In [101]:
final_b_copy['Target'] = 1  # 베스트 리그(1)
final_b_copy

<ipython-input-101-182aecdcb9a2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_b_copy['Target'] = 1  # 성공 여부(Target) 컬럼 생성 - 베스트 리그(1)

,장르,총합 별점,총합 별점,관심수,평균 조회수,평균 업로드 간격,평균 공백 제거 글자수,평균 댓글 수,Target
이름,,,,,,,,,
임신 계략,로맨스,9.98,9.98,2179,24000.0,1.50,3619.0,3.8,1
제국의 하인,로맨스,9.99,9.99,2135,22000.0,0.25,4637.8,10.0,1
"첫사랑, 첫이별, 첫아이",로맨스,9.99,9.99,1549,14000.0,4.00,3924.0,11.2,1
못난이 아내,로맨스,9.98,9.98,1136,9799.6,1.25,3333.0,0.8,1
남편의 체온,로맨스,9.97,9.97,1482,20000.0,1.00,5098.8,9.6,1
...,...,...,...,...,...,...,...,...,...
뱀들의 왕인데 몸이 인간입니다.,라이트노벨,7.86,7.86,6,117.8,7.75,3707.8,0.0,1
여신들의 사랑을 받는 남자는 평온한 일상을 보내려합니다,라이트노벨,8.00,8.00,190,3666.0,4.00,1351.4,4.2,1
최약용사,라이트노벨,10.00,10.00,7,115.2,41.75,1023.6,0.2,1
성검학원의 듀라한,라이트노벨,0.00,0.00,3,14.8,0.25,4216.4,0.0,1
"너와 내가 알지만, 나와 너는 모를 이야기",라이트노벨,9.91,9.91,1,51.6,5.50,1354.6,0.8,1

In [102]:
# 최종 데이터 생성
df = pd.concat([final_b_copy, final_c_copy], ignore_index=True)
df

,장르,총합 별점,총합 별점,관심수,평균 조회수,평균 업로드 간격,평균 공백 제거 글자수,평균 댓글 수,Target
0,로맨스,9.98,9.98,2179,24000.0,1.50,3619.0,3.8,1
1,로맨스,9.99,9.99,2135,22000.0,0.25,4637.8,10.0,1
2,로맨스,9.99,9.99,1549,14000.0,4.00,3924.0,11.2,1
3,로맨스,9.98,9.98,1136,9799.6,1.25,3333.0,0.8,1
4,로맨스,9.97,9.97,1482,20000.0,1.00,5098.8,9.6,1
...,...,...,...,...,...,...,...,...,...
269,라이트노벨,9.94,9.94,11,535.0,1.50,2385.6,0.8,0
270,라이트노벨,9.99,9.99,6,73.2,1.75,1198.6,1.4,0
271,라이트노벨,7.71,7.71,3,45.8,0.50,3052.4,0.4,0
272,라이트노벨,10.00,10.00,3,25.0,0.50,2890.4,0.2,0
273,라이트노벨,9.97,9.97,14,517.8,0.25,2085.4,1.6,0

In [ ]:
df.to_csv('/content/drive/MyDrive/Colab Notebooks/novel_final.csv')  # 파일 저장